/* CONFLICTS
#scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#content {
  padding-bottom: 100px;
}

#footer
{
  width: 100%;
  position: fixed;
  z-index: -1;
}

.content
{
  height: 1000px;
  min-height: 1000px;
  background: #ededed;
  position: relative;
  z-index: 1;
}

.navbar {
  margin-bottom: 0 !important;
}

.wrapper-parallax {
  box-shadow: 0px 0px 20px rgba(211, 211, 211, 0.5); // #d3d3d3
  background-color: #fff;
}

#footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
*/
