.fp-section,
.fp-table,
.fp-tableCell {
  height: initial !important;
}
.container {
  height: 100%;
}
body {
  margin: 0;
}
h3 {
  color: #F0CF1C;
}
#cover-bg {
  height: 100vh;
  background: url('../../rfp/alchemy/background.jpg') center center no-repeat;
  background-size: cover;
  opacity: 1;
}
#cover-bg #cover {
  height: 100vh;
  background: url('../../rfp/alchemy/cover.jpg') center center no-repeat;
  background-size: cover;
}
#cover-bg #cover p {
  font-size: 2.5rem;
  color: #fff;
}
#lifestyle {
  background: url('../../rfp/alchemy/lifestyle.png') center center no-repeat;
  background-size: cover;
}
#frame {
  z-index: 10;
  position: fixed;
  margin: auto;
  display: block;
  height: 450px;
  width: 225px;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#phone-frame {
  height: 450px;
  background-size: cover;
}
#default,
#screen,
#video,
#print1,
#print2,
#print3 {
  height: 370px;
  position: absolute;
  top: 38px;
  left: 9px;
}
#print1,
#print2,
#print3 {
  z-index: -1;
}
.fullvh {
  height: 100vh !important;
}
.full-line-break {
  width: 100%;
  background-color: #d2d2d2;
  height: 2px;
  margin: 20px 0;
}
.full-height {
  height: 100%;
}
.half-height {
  height: 50% !important;
}
.scrollmagic-pin-spacer {
  height: 0 !important;
  min-height: 0 !important;
}
.vertical-center {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.vertical {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-align: center;
  height: 100%;
}
.bottom {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: end;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: end;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: end;
  /* W3C */
  display: box;
  box-align: end;
  height: 100%;
}
wrapper {
  display: block;
  width: 100%;
  height: 100%;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  8% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  15% {
    -webkit-transform: scale(0.1);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  8% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  15% {
    -moz-transform: scale(0.1);
    opacity: 1;
  }
  30% {
    -moz-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1);
  }
}
.pulse_holder {
  position: relative;
}
#touchPrint {
  top: 110px;
  left: 93px;
}
.pulse_holder .pulse_marker {
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 28px;
  margin: auto;
}
.pulse_holder .pulse_finger {
  width: 40px;
  height: 40px;
  background: url(../../rfp/alchemy/fingerprint.png) center center no-repeat;
  border-radius: 28px;
  background-size: cover;
}
.pulse_holder .pulse_rays {
  margin: 0 auto;
  position: relative;
  left: -30px;
  top: -30px;
  z-index: 10;
  background-color: transparent;
  opacity: 0.1;
  width: 100px;
  height: 100px;
  border: 6px solid #F0CF1C;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  -webkit-animation: pulse 2s linear infinite;
  -moz-animation: pulse 2s linear infinite;
  border-image: initial;
}
.pulse_holder .pulse_marker .pulse_rays {
  top: -42px;
  left: -42px;
}
