.fp-section,
.fp-table,
.fp-tableCell {
  height: initial !important;
}
.phone-conjr .section {
  height: 100vh !important;
  margin: 0 !important;
}
.phone-conjr .section #phone-container {
  position: fixed;
  top: 0;
  z-index: 1;
  left: 10%;
  display: none;
}
.phone-conjr .section:nth-child(odd) {
  background-color: #eeeeee;
}
.phone-conjr .section .container {
  height: 100% !important;
}
.phone-conjr .section .container .row {
  height: 100% !important;
}
@media only screen and (max-width: 768px) {
  .phone-conjr .section .container .row #phone {
    display: none !important;
  }
}
.phone-conjr .section .container .row wrapper .col-sm-6 .mobile-phone {
  display: none !important;
}
@media only screen and (max-width: 768px) {
  .phone-conjr .section .container .row wrapper .col-sm-6 .mobile-phone {
    display: block !important;
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .phone-conjr .section .container .row wrapper .col-sm-6 h3 {
    text-align: center;
  }
  .phone-conjr .section .container .row wrapper .col-sm-6 p {
    text-align: center;
  }
}
.phone-conjr .section .container .row wrapper #unlock-content,
.phone-conjr .section .container .row wrapper #gestures-content,
.phone-conjr .section .container .row wrapper #recording-content,
.phone-conjr .section .container .row wrapper #button-content,
.phone-conjr .section .container .row wrapper #video-content,
.phone-conjr .section .container .row wrapper #screenshot-content {
  opacity: 0;
}
