.background {
  background-size: cover;
  background-position: 50% 50%;
}
.product-section-wrapper {
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  /* Internet Explorer 10 */
  /* Firefox */
  /* Safari, Opera, and Chrome */
  /* W3C */
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-align: center;
}
@media only screen and (max-width: 480px) {
  .product-section-wrapper {
    min-height: 700px;
  }
}
@media only screen and (min-width: 480px) {
  .product-section-wrapper {
    height: 700px;
  }
}
@media only screen and (min-width: 1440px) {
  .product-section-wrapper {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .product-section-wrapper {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .product-section-wrapper {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .product-section-wrapper {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .product-section-wrapper {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .product-mobile-background-shift {
    background-position: 65% 50%;
    background-repeat: no-repeat;
  }
}
/*

Section break point set ups

*/
.section {
  display: block;
  padding: 0;
}
@media only screen and (min-width: 1440px) {
  .section {
    margin: 0 119px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section {
    margin: 0 60px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section {
    margin: 0 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section {
    margin: 0 20px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section {
    margin: 0 10px !important;
  }
}
.section-padding {
  display: block;
}
@media only screen and (min-width: 1440px) {
  .section-padding {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .section-padding {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .section-padding {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .section-padding {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .section-padding {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .product-section-padding {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .product-section-padding {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .product-section-padding {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .product-section-padding {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .product-section-padding {
    padding: 0 10px;
  }
}
.section-tablet {
  display: block;
  padding: 0;
}
@media only screen and (min-width: 1440px) {
  .section-tablet {
    margin: 0 119px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-tablet {
    margin: 0 60px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-tablet {
    margin: 0 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-tablet {
    margin: 0 0;
  }
}
@media only screen and (max-width: 320px) {
  .section-tablet {
    margin: 0 0;
  }
}
@media only screen and (min-width: 1440px) {
  .section-margin-bottom {
    margin-bottom: 70px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-margin-bottom {
    margin-bottom: 70px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-margin-bottom {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-margin-bottom {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section-margin-bottom {
    margin-bottom: 27px !important;
  }
}
@media only screen and (min-width: 1440px) {
  .section-margin-top {
    padding-top: 80px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-margin-top {
    padding-top: 70px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-margin-top {
    padding-top: 50px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-margin-top {
    padding-top: 50px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section-margin-top {
    padding-top: 27px !important;
  }
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.no-padding {
  padding: 0;
}
/*

Mobile content section padding

*/
@media only screen and (max-width: 480px) {
  .mobile-content-padding {
    margin: 0;
    padding: 0 20px 0 20px;
  }
}
/*

Modifiers

*/
@media only screen and (max-width: 768px) {
  .box {
    display: block !important;
  }
}
.affix {
  top: 0;
}
.affix-top {
  position: fixed;
}
h1,
.h1 {
  font-size: 80px;
}
h2,
.h2 {
  font-size: 64px;
}
h3,
.h3 {
  font-size: 48px;
}
h4,
.h4 {
  font-size: 36px;
}
h5,
.h5 {
  font-size: 24px;
}
p,
.p {
  font-size: 16px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.p {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
body {
  font-size: 16px;
  overflow-x: hidden;
  color: #292f33;
}
/*
Legacy used globally that needs cleaned up
 */
/*

Vertically center everything

*/
.vertical-center {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.vertical {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-align: center;
}
.bottom {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: end;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: end;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: end;
  /* W3C */
  display: box;
  box-align: end;
}
.right {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: end;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: end;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: end;
  /* W3C */
  display: box;
  box-pack: end;
}
.flex-vertical-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
/*

Multi line truncate

*/
/*

Hover transition

*/
.hover-transition {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
/*

TRANSLATE (Move an object)

*/
/*

Flex Box Arranging divs

*/
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* optional */
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
/*

Automatic Resets

*/
.wpb_content_element {
  margin: 0;
}
.ultb3-box.ult-adjust-bottom-margin {
  margin: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-col {
  padding: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-post-data {
  margin-bottom: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_icon_element {
  margin-bottom: 0;
}
.vc_column_container .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.vc_col-has-fill > .vc_column-inner {
  padding-top: 0;
}
.vc_row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.vc_column-inner {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ult-adjust-bottom-margin,
.wpb_content_element {
  margin-bottom: 0 !important;
}
/*

RESET

*/
.reset {
  padding: 0;
  margin: 0;
}
/*

Fix img-responsive issue

.img-responsive {
  display: initial !important;
}
*/
@media only screen and (min-width: 1024px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 1024px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 768px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 320px) {
  .section-height {
    height: 568px;
  }
}
/*

Text formats

*/
.text-title {
  font-size: 64px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .text-title {
    font-size: 48px;
  }
}
@media only screen and (max-width: 768px) {
  .text-title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 480px) {
  .text-title {
    font-size: 32px;
  }
}
.text-description {
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 480px) {
  .text-description {
    font-size: 18px;
  }
}
* {
  transition: .2s;
}
.margin-auto {
  margin: auto !important;
}
.margin-auto div p {
  margin: auto !important;
}
.inline-block {
  display: inline-block;
}
.float-right {
  float: right;
}
@media only screen and (max-width: 480px) {
  .float-right {
    float: initial;
  }
}
.margin-auto {
  margin: auto;
}
@media only screen and (max-width: 480px) {
  .dyno-icons {
    text-align: center;
  }
}
@media only screen and (min-width: 480px) {
  .hide-website {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .hide-website-large {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hide-mobile-large {
    display: none;
  }
}
.dyno-cover-piece {
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .dyno-cover-piece {
    width: 100% !important;
  }
}
@media only screen and (min-width: 480px) {
  .dyno-fast > .wpb_column {
    position: relative;
    left: 30px;
  }
}
.dyno-cover {
  background-size: cover;
  background-position: 50% 50%;
  height: 660px;
  width: 100%;
  position: relative;
  background-color: #bcecfc;
}
@media only screen and (max-width: 480px) {
  .dyno-cover {
    height: initial;
  }
}
.dyno-cover p {
  font-weight: bold;
  padding: 20px 0 !important;
  font-size: 42px !important;
  color: #ffffff !important;
}
@media only screen and (max-width: 480px) {
  .dyno-cover .dyno-cover-piece {
    padding: 400px 0 50px 0;
  }
}
.dyno-cover .dyno-cover-img {
  position: absolute;
  z-index: 0;
}
.dyno-cover .dyno-cover-img .vc_column-inner {
  height: 660px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1024px) {
  .dyno-cover .dyno-cover-img .vc_column-inner {
    background-size: cover;
    background-position: 50% 50%;
  }
}
.dyno-section {
  background-size: cover;
  background-position: 50% 50%;
  height: 750px;
  width: 100%;
  padding: 50px 20px;
}
.dyno-section > .wpb_column > .vc_column-inner {
  height: 100%;
}
.dyno-section > .wpb_column > .vc_column-inner > .wpb_wrapper {
  height: 100%;
}
@media only screen and (max-width: 480px) {
  .dyno-section {
    background-position: 55% 50%;
    height: initial !important;
    padding: 50px 10px;
  }
}
@media only screen and (min-width: 480px) {
  .dyno-section .top {
    position: absolute;
    width: 100%;
    top: 0;
  }
}
.dyno-section h4,
.dyno-section p {
  color: #fff;
}
@media only screen and (max-width: 480px) {
  .dyno-section h4,
  .dyno-section p {
    text-align: center !important;
  }
}
.dyno-section h4 {
  font-size: 42px;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .dyno-section h4 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 480px) {
  .dyno-section h4 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 480px) {
  .dyno-section p {
    font-size: 18px;
    max-width: 500px;
  }
}
.dyno-section img {
  max-height: 500px;
  width: initial;
  padding-right: 15px;
}
@media only screen and (max-width: 480px) {
  .dyno-section img {
    max-height: 250px;
  }
}
@media only screen and (max-width: 480px) {
  .dyno-section .img {
    text-align: center;
  }
}
.dyno-section .icons {
  margin: auto;
  padding-top: 50px;
}
@media only screen and (min-width: 768px) {
  .dyno-section .icons {
    width: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .dyno-section .icons {
    /* Internet Explorer 10 */
    /* Firefox */
    /* Safari, Opera, and Chrome */
    /* W3C */
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
  }
  .dyno-section .icons .wrapper {
    display: table-caption;
  }
}
.dyno-section .icons .icon {
  padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .dyno-section .icons .icon {
    width: 100%;
  }
}
.dyno-section .icons .img {
  display: inline-block;
  position: absolute;
  padding-top: 2px;
}
.dyno-section .icons .img img {
  max-height: 30px;
  padding-top: 3px;
}
.dyno-section .icons .text {
  display: inline-block;
  width: 160px;
  padding-left: 37px;
  color: #fafafa;
  font-size: 12px;
}
.dyno-section .mobility-custom {
  float: right;
}
@media only screen and (min-width: 480px) {
  .dyno-section .mobility-custom {
    padding-right: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .dyno-alarm {
    padding: 0 !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .dyno-alarm {
    height: 450px;
  }
}
@media only screen and (min-width: 480px) {
  .dyno-alarm h4 {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .dyno-alarm h4 {
    padding: 10px 0 220px 0 !important;
  }
}
.dyno-features {
  padding: 50px 0 0 0;
}
@media only screen and (max-width: 768px) {
  .dyno-features {
    height: initial;
  }
}
.dyno-features > .wpb_column > .vc_column-inner {
  height: 100%;
}
.dyno-features > .wpb_column > .vc_column-inner > .wpb_wrapper {
  height: 100%;
}
.dyno-features .section-title {
  margin-bottom: 20px !important;
}
@media only screen and (min-width: 768px) {
  .dyno-features .phone {
    /* Internet Explorer 10 */
    /* Firefox */
    /* Safari, Opera, and Chrome */
    /* W3C */
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.dyno-features .phone img {
  padding: 0;
  margin: 20px 0;
  max-height: 550px;
}
@media only screen and (max-width: 1024px) {
  .dyno-features .phone img {
    max-height: 450px;
    bottom: 20px;
    right: 26px;
  }
}
.dyno-features .dyno-features-content {
  padding: 0 20px;
}
@media only screen and (max-width: 768px) {
  .dyno-features .dyno-features-content {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 768px) {
  .dyno-features .dyno-features-content {
    /* Internet Explorer 10 */
    /* Firefox */
    /* Safari, Opera, and Chrome */
    /* W3C */
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-align: center;
    /* Firefox */
    display: -moz-box;
    -moz-box-align: center;
    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .dyno-features .dyno-features-content p {
    font-size: 16px;
  }
}
.dyno-features .dyno-features-content .left .vc_column-inner {
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .dyno-features .dyno-features-content .left .vc_column-inner {
    left: 40%;
    max-width: 300px;
  }
}
@media only screen and (min-width: 768px) {
  .dyno-features .dyno-features-content .left .vc_column-inner {
    left: 10%;
  }
}
.dyno-features .dyno-features-content .right .connect,
.dyno-features .dyno-features-content .right .fun {
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .dyno-features .dyno-features-content .right .connect {
    right: 35%;
  }
  .dyno-features .dyno-features-content .right .fun {
    right: 10%;
    top: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .dyno-features .dyno-features-content .right .connect {
    right: 15%;
  }
}
@media only screen and (max-width: 768px) {
  .dyno-features .dyno-features-content .left,
  .dyno-features .dyno-features-content .right {
    width: 100%;
  }
  .dyno-features .dyno-features-content .left h4,
  .dyno-features .dyno-features-content .right h4,
  .dyno-features .dyno-features-content .left p,
  .dyno-features .dyno-features-content .right p {
    text-align: center !important;
    max-width: initial;
  }
}
.dyno-features .dyno-features-bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* optional */
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  .dyno-features .dyno-features-bottom {
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
}
.dyno-features .dyno-features-bottom .left {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.dyno-features .dyno-features-bottom .left img {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .dyno-features .dyno-features-bottom .left {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
}
.dyno-features .dyno-features-bottom .right {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
@media only screen and (max-width: 768px) {
  .dyno-features .dyno-features-bottom .right {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .dyno-features .dyno-features-bottom .right img {
    display: inline-block;
    padding: 0;
  }
}
.dyno-location {
  padding-bottom: 0;
  height: 800px;
}
@media only screen and (max-width: 768px) {
  .dyno-location {
    height: initial;
  }
  .dyno-location .vc_col-sm-7 {
    width: 100%;
  }
  .dyno-location .vc_col-sm-7 h4,
  .dyno-location .vc_col-sm-7 p {
    text-align: center !important;
    max-width: initial;
  }
}
.dyno-location .web {
  position: absolute;
  bottom: 0;
}
.dyno-location .web img {
  max-height: 750px;
}
@media only screen and (max-width: 768px) {
  .dyno-location .web {
    display: none;
  }
}
.dyno-location .mobile {
  padding-top: 20px;
}
.dyno-location .mobile img {
  max-height: 300px;
}
@media only screen and (min-width: 768px) {
  .dyno-location .mobile {
    display: none;
  }
}
.dyno-location .list {
  text-align: center;
  list-style: none;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .dyno-location .list {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
  }
}
.dyno-location .list li {
  color: #fff;
  display: inline-block;
  padding: 10px 0;
}
@media only screen and (max-width: 768px) {
  .dyno-location .list li {
    display: block;
  }
  .dyno-location .list li:not(first-child) {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .dyno-location .list li:not(first-child) {
    padding-left: 20px;
  }
}
.dyno-location .list li img {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .dyno-location .content {
    padding-top: 40px;
  }
}
.dyno-design {
  padding-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .dyno-design {
    height: initial;
  }
  .dyno-design h4,
  .dyno-design p {
    text-align: center !important;
    max-width: initial;
  }
}
.dyno-design .website-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.dyno-design .website-img img {
  max-height: initial;
}
@media only screen and (min-width: 768px) {
  .dyno-design .title {
    left: 14%;
  }
  .dyno-design .title .content {
    position: relative;
    left: 20px;
  }
}
.dyno-design .title p {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .dyno-design .comfortable,
  .dyno-design .long,
  .dyno-design .sos {
    position: absolute;
    max-width: 220px;
  }
  .dyno-design p {
    font-size: 24px;
    text-align: center;
  }
  .dyno-design .comfortable {
    right: 0;
    top: 0;
  }
  .dyno-design .long {
    right: 33%;
    bottom: 13%;
  }
  .dyno-design .sos {
    left: 2%;
    top: 24%;
  }
}
@media only screen and (max-width: 768px) {
  .dyno-design .website-img {
    display: none;
  }
  .dyno-design .mobile-img img {
    position: relative;
    bottom: -1px;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .dyno-design .mobile-img {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .dyno-design .resistant {
    text-align: center;
  }
}
.dyno-design .resistant img {
  display: inline-block;
  float: left;
  height: 65px;
}
.dyno-design .resistant .resistant-content {
  padding: 0 !important;
  text-align: left !important;
}
@media only screen and (max-width: 768px) {
  .dyno-design .resistant .resistant-content {
    bottom: 30px;
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  .dyno-design .resistant .resistant-content {
    top: 5px;
    position: absolute;
  }
}
.dyno-voice .image img {
  padding-top: 50px;
}
@media only screen and (max-width: 480px) {
  .dyno-voice {
    padding-bottom: 0 !important;
  }
  .dyno-voice img {
    position: relative;
    bottom: -1px;
  }
}
@media only screen and (min-width: 480px) {
  .dyno-voice {
    padding-left: 50px;
  }
  .dyno-voice h4 {
    padding-bottom: 30px !important;
  }
  .dyno-voice .image {
    text-align: left;
  }
  .dyno-voice .image img {
    padding-left: 50px;
  }
}
.dyno-steps {
  position: relative;
  padding: 0 !important;
  height: 850px;
}
.dyno-steps .content {
  padding: 40px;
}
@media only screen and (max-width: 480px) {
  .dyno-steps {
    height: 500px !important;
  }
  .dyno-steps .vc_col-sm-6 {
    height: 100%;
  }
  .dyno-steps .content {
    padding: 40px 20px 20px 20px !important;
  }
}
.dyno-steps img {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 480px) {
  .dyno-steps img {
    max-height: 650px;
  }
}
.dyno-friends {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .dyno-friends {
    height: initial;
  }
}
@media only screen and (min-width: 1024px) {
  .dyno-friends .content {
    padding-left: 200px;
    text-align: left;
  }
}
.dyno-friends p {
  font-weight: 300;
  line-height: 1.5;
}
.dyno-friends img {
  padding-top: 60px !important;
}
@media only screen and (max-width: 768px) {
  .dyno-instructions .vc_col-sm-3,
  .dyno-instructions .vc_col-sm-9 {
    float: left;
    width: 100%;
  }
  .dyno-instructions p {
    text-align: center;
  }
}
@media only screen and (min-width: 480px) {
  .dyno-instructions .content {
    max-width: 300px;
    margin: auto !important;
  }
}
.dyno-instructions h4 {
  padding-bottom: 20px !important;
}
@media only screen and (max-width: 768px) {
  .dyno-instructions h4 {
    padding-top: 40px !important;
  }
}
@media only screen and (min-width: 768px) {
  .dyno-instructions .instruction-img img {
    padding-top: 30px !important;
    max-height: 300px;
  }
}
.stay-powered-section {
  padding: 0 !important;
}
.stay-powered-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 50px 20px;
}
@media only screen and (max-width: 480px) {
  .stay-powered-overlay {
    padding: 100px 10px;
  }
}
.full-height-pieces > .wpb_column {
  height: 100%;
}
.full-height-pieces > .wpb_column > .vc_column-inner {
  height: 100%;
}
.full-height-pieces > .wpb_column > .vc_column-inner > .wpb_wrapper {
  height: 100%;
}
.full-height-pieces > .wpb_column > .vc_column-inner > .wpb_wrapper > .vc_inner {
  height: 100%;
}
