#topnav {
  background: #fff;
  border-color: #cccccc;
  color: #424242;
}
#topnav .navbar-collapse {
  background-color: #fff;
  border-color: #cccccc;
}
#topnav a.navbar-link {
  color: #424242;
  background-color: transparent;
}
#topnav a.navbar-link:hover,
#topnav a.navbar-link:focus {
  color: #ffffff;
  background-color: transparent;
}
#topnav .navbar-brand {
  color: #424242;
  background-color: #3b3fb6;
}
#topnav .navbar-brand:hover,
#topnav .navbar-brand:focus {
  color: #ffffff;
  background-color: #3b3fb6;
}
#topnav .navbar-nav > li.divider {
  background-color: #9a2b2b;
}
#topnav input::-webkit-input-placeholder,
#topnav textarea::-webkit-input-placeholder {
  color: rgba(204, 204, 204, 0.3);
}
#topnav input::-moz-placeholder,
#topnav textarea::-moz-placeholder {
  color: rgba(204, 204, 204, 0.3);
}
#topnav input:-ms-input-placeholder,
#topnav textarea:-ms-input-placeholder {
  color: rgba(204, 204, 204, 0.3);
}
#topnav input:-moz-placeholder,
#topnav textarea:-moz-placeholder {
  color: rgba(204, 204, 204, 0.3);
}
#topnav .navbar-nav > li[class*="dropdown"].dropdown-onhover:hover > a,
#topnav.dropdown-onhover .navbar-nav > li:hover > a[class*="dropdown"] {
  background-color: #3b3fb6;
}
#topnav .navbar-nav > li > a {
  color: #424242;
  background-color: #fff;
}
#topnav .navbar-nav > li:hover > a {
  color: #ffffff;
  background-color: #fff;
}
#topnav .navbar-nav > li.active > a {
  color: #ffffff;
  background-color: #3b3fb6;
}
#topnav .navbar-nav > li.active:hover > a {
  color: #ffffff;
  background-color: #3b3fb6;
}
#topnav .navbar-nav > li.open > a {
  color: #ffffff;
  background-color: #3b3fb6;
}
#topnav .navbar-nav > li.open:hover > a {
  color: #ffffff;
  background-color: #3b3fb6;
}
#topnav .navbar-nav > li.disabled > a {
  color: #999999;
  background-color: #fff;
}
#topnav .navbar-nav > li.disabled:hover > a {
  color: #999999;
  background-color: #fff;
}
@media (min-width: 768px) {
  #topnav.dropdown-onhover.no-fix .navbar-nav > li > a,
  #topnav .navbar-nav.dropdown-onhover.no-fix > li > a,
  #topnav .navbar-nav > li.dropdown-onhover.no-fix > a {
    color: #424242;
    background-color: #fff;
  }
  #topnav.dropdown-onhover.no-fix .navbar-nav > li:hover > a,
  #topnav .navbar-nav.dropdown-onhover.no-fix > li:hover > a,
  #topnav .navbar-nav > li.dropdown-onhover.no-fix:hover > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav.dropdown-onhover.no-fix .navbar-nav > li.active > a,
  #topnav .navbar-nav.dropdown-onhover.no-fix > li.active > a,
  #topnav .navbar-nav > li.dropdown-onhover.no-fix.active > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav.dropdown-onhover.no-fix .navbar-nav > li.active:hover > a,
  #topnav .navbar-nav.dropdown-onhover.no-fix > li.active:hover > a,
  #topnav .navbar-nav > li.dropdown-onhover.no-fix.active:hover > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav.dropdown-onhover.no-fix .navbar-nav > li.active.open > a,
  #topnav .navbar-nav.dropdown-onhover.no-fix > li.active.open > a,
  #topnav .navbar-nav > li.dropdown-onhover.no-fix.active.open > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav.dropdown-onhover.no-fix .navbar-nav > li.open > a,
  #topnav .navbar-nav.dropdown-onhover.no-fix > li.open > a,
  #topnav .navbar-nav > li.dropdown-onhover.no-fix.open > a {
    color: #424242;
    background-color: #fff;
  }
  #topnav.dropdown-onhover.no-fix .navbar-nav > li.open:hover > a,
  #topnav .navbar-nav.dropdown-onhover.no-fix > li.open:hover > a,
  #topnav .navbar-nav > li.dropdown-onhover.no-fix.open:hover > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav.dropdown-onhover.no-fix .navbar-nav > li.disabled > a,
  #topnav .navbar-nav.dropdown-onhover.no-fix > li.disabled > a,
  #topnav .navbar-nav > li.dropdown-onhover.no-fix.disabled > a {
    color: #999999;
    background-color: #fff;
  }
  #topnav.dropdown-onhover.no-fix .navbar-nav > li.disabled:hover > a,
  #topnav .navbar-nav.dropdown-onhover.no-fix > li.disabled:hover > a,
  #topnav .navbar-nav > li.dropdown-onhover.no-fix.disabled:hover > a {
    color: #999999;
    background-color: #fff;
  }
  #topnav.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix) > li:not(.no-fix) > a,
  #topnav:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix) > li:not(.no-fix) > a,
  #topnav:not(.no-fix) .navbar-nav:not(.no-fix) > li.dropdown-onhover:not(.no-fix) > a {
    color: #424242;
    background-color: #fff;
  }
  #topnav.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix) > li:not(.no-fix):hover > a,
  #topnav:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix) > li:not(.no-fix):hover > a,
  #topnav:not(.no-fix) .navbar-nav:not(.no-fix) > li.dropdown-onhover:not(.no-fix):hover > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix) > li:not(.no-fix).active > a,
  #topnav:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix) > li:not(.no-fix).active > a,
  #topnav:not(.no-fix) .navbar-nav:not(.no-fix) > li.dropdown-onhover:not(.no-fix).active > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix) > li:not(.no-fix).active:hover > a,
  #topnav:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix) > li:not(.no-fix).active:hover > a,
  #topnav:not(.no-fix) .navbar-nav:not(.no-fix) > li.dropdown-onhover:not(.no-fix).active:hover > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix) > li:not(.no-fix).open > a,
  #topnav:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix) > li:not(.no-fix).open > a,
  #topnav:not(.no-fix) .navbar-nav:not(.no-fix) > li.dropdown-onhover:not(.no-fix).open > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix) > li:not(.no-fix).open:hover > a,
  #topnav:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix) > li:not(.no-fix).open:hover > a,
  #topnav:not(.no-fix) .navbar-nav:not(.no-fix) > li.dropdown-onhover:not(.no-fix).open:hover > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix) > li:not(.no-fix).disabled > a,
  #topnav:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix) > li:not(.no-fix).disabled > a,
  #topnav:not(.no-fix) .navbar-nav:not(.no-fix) > li.dropdown-onhover:not(.no-fix).disabled > a {
    color: #999999;
    background-color: #fff;
  }
  #topnav.dropdown-onhover:not(.no-fix) .navbar-nav:not(.no-fix) > li:not(.no-fix).disabled:hover > a,
  #topnav:not(.no-fix) .navbar-nav.dropdown-onhover:not(.no-fix) > li:not(.no-fix).disabled:hover > a,
  #topnav:not(.no-fix) .navbar-nav:not(.no-fix) > li.dropdown-onhover:not(.no-fix).disabled:hover > a {
    color: #999999;
    background-color: #fff;
  }
}
@media (min-width: 768px) {
  #topnav:not(.no-border).dropdown-onhover .navbar-nav > li:hover > a,
  #topnav:not(.no-border) .navbar-nav.dropdown-onhover > li:hover > a,
  #topnav:not(.no-border) .navbar-nav li.dropdown-onhover:hover > a {
    border-color: #6b0f0f;
  }
  #topnav:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav > .active > a:before {
    border-top-color: #6b0f0f;
  }
  #topnav:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav > .open > a:before,
  #topnav:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav > li.dropdown-onhover:not(.disabled):hover > a:before,
  #topnav:not(.navbar-fixed-bottom):not(.no-border) .navbar-nav.dropdown-onhover > li:not(.disabled):hover > a:before {
    border-bottom-color: #6b0f0f;
  }
  #topnav:not(.navbar-fixed-bottom):not(.no-border).dropdown-onhover .navbar-nav > li:not(.disabled):hover > a:before {
    border-bottom-color: #6b0f0f;
  }
  #topnav:not(.navbar-fixed-bottom) .navbar-nav > .active > a:after {
    border-top-color: #6b0f0f;
  }
  #topnav:not(.navbar-fixed-bottom) .navbar-nav > .active:hover > a:after {
    border-top-color: #6b0f0f;
  }
  #topnav:not(.navbar-fixed-bottom) .navbar-nav > .open > a:after,
  #topnav:not(.navbar-fixed-bottom) .navbar-nav > li.dropdown-onhover:not(.disabled):hover > a:after,
  #topnav:not(.navbar-fixed-bottom) .navbar-nav.dropdown-onhover > li:not(.disabled):hover > a:after {
    border-bottom-color: #fff;
  }
  #topnav:not(.navbar-fixed-bottom).dropdown-onhover .navbar-nav > li:not(.disabled):hover > a:after {
    border-bottom-color: #fff;
  }
  #topnav.navbar-fixed-bottom:not(.no-border) .navbar-nav > .active > a:before {
    border-bottom-color: #6b0f0f;
  }
  #topnav.navbar-fixed-bottom:not(.no-border) .navbar-nav > .open > a:before,
  #topnav.navbar-fixed-bottom:not(.no-border) .navbar-nav > li.dropdown-onhover:not(.disabled):hover > a:before,
  #topnav.navbar-fixed-bottom:not(.no-border) .navbar-nav.dropdown-onhover > li:not(.disabled):hover > a:before {
    border-top-color: #6b0f0f;
  }
  #topnav.navbar-fixed-bottom:not(.no-border).dropdown-onhover .navbar-nav > li:not(.disabled):hover > a:before {
    border-top-color: #6b0f0f;
  }
  #topnav.navbar-fixed-bottom .navbar-nav > .active > a:after {
    border-bottom-color: #6b0f0f;
  }
  #topnav.navbar-fixed-bottom .navbar-nav > .open > a:after,
  #topnav.navbar-fixed-bottom .navbar-nav > li.dropdown-onhover:not(.disabled):hover > a:after,
  #topnav.navbar-fixed-bottom .navbar-nav.dropdown-onhover > li:not(.disabled):hover > a:after {
    border-top-color: #fff;
  }
  #topnav.navbar-fixed-bottom.dropdown-onhover .navbar-nav > li:not(.disabled):hover > a:after {
    border-top-color: #fff;
  }
}
#topnav .dropdown-menu {
  background: #fff;
  color: #dddddd;
  border-color: #cccccc;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000 !important;
}
#topnav .navbar-nav > li[class*="dropdown"].dropdown-onhover:hover,
#topnav .navbar-nav.dropdown-onhover > li[class*="dropdown"]:hover,
#topnav.dropdown-onhover .navbar-nav > li[class*="dropdown"]:hover {
  background-color: #3b3fb6;
}
#topnav a > span.desc {
  color: #aaaaaa;
}
#topnav a:hover > span.desc {
  color: #aaaaaa;
}
#topnav *:not(li) > a {
  color: #424242;
}
#topnav *:not(li) > a:hover {
  color: #fff;
}
#topnav .dropdown-menu > li > a {
  color: #424242;
  background-color: #fff;
}
#topnav .dropdown-menu > li > a:hover {
  color: #000;
  background-color: #fff;
}
#topnav .navbar-nav > li .dropdown-menu:not([class*="collaps"]) {
  background-color: #fff;
  color: #dddddd;
  border-color: #cccccc;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000 !important;
}
#topnav.navbar-fixed-bottom .navbar-nav > li .dropdown-menu:not([class*="collaps"]) {
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000 !important;
}
#topnav .navbar-nav .dropdown-menu > li[class*="-onhover"],
#topnav .navbar-nav .dropdown-menu > li[class*="-onclick"] {
  color: #dddddd;
  background-color: #fff;
}
#topnav .navbar-nav .dropdown-menu > li[class*="-onhover"]:hover > a,
#topnav .navbar-nav .dropdown-menu > li[class*="-onclick"]:hover > a {
  color: #000;
  background-color: #fff;
}
#topnav .navbar-nav .dropdown-menu li:not(.list-group) > a {
  color: #000;
  background-color: #fff;
}
#topnav .navbar-nav .dropdown-menu li:not(.list-group) > a:hover {
  text-decoration: underline;
}
#topnav .navbar-nav .dropdown-menu li.active > a {
  color: #000;
  background-color: #fff;
}
#topnav .navbar-nav .dropdown-menu li.active > a:hover {
  color: #000;
  background-color: #fff;
}
#topnav .navbar-nav .dropdown-menu li[class*="-onhover"] > a:hover {
  color: #000;
  background-color: #fff;
}
#topnav .navbar-nav .dropdown-menu li.open > a,
#topnav .navbar-nav .dropdown-menu li:not(.no-fix) > a.dropdown-toggle:not(.collapsed) {
  color: #000;
  background-color: #fff;
}
#topnav .navbar-nav .dropdown-menu li.open > a:hover,
#topnav .navbar-nav .dropdown-menu li:not(.no-fix) > a.dropdown-toggle:not(.collapsed):hover {
  color: #000;
  background-color: #fff;
}
#topnav .navbar-nav .dropdown-menu li.disabled > a {
  color: #777777;
  background-color: #fff;
}
#topnav .navbar-nav .dropdown-menu li.disabled > a > span.desc {
  color: #777777;
}
#topnav .navbar-nav .dropdown-menu li.disabled > a:hover > span.desc {
  color: #777777;
}
#topnav .navbar-nav .dropdown-menu li.disabled > a:hover {
  color: #777777;
  background-color: #fff;
}
#topnav .navbar-nav li:not(.dropdown) > .dropdown-menu.bordered:not(.no-padding):after,
#topnav .navbar-nav li:not(.dropdown) > .dropdown-grid-wrapper > .dropdown-menu.bordered:not(.no-padding):after {
  outline-color: #555555;
}
#topnav .dropdown-menu li.divider,
#topnav .v-divided > *:before,
#topnav .v-divided > *:after,
#topnav .h-divided > *:after,
#topnav .h-divided > *:first-child:before,
#topnav .h-divider:after {
  background-color: #cccccc;
}
#topnav .divided > *:before {
  border-color: #cccccc;
}
@media (max-width: 767px) {
  #topnav .navbar-nav li.xs-hover > a {
    color: #fff;
    background-color: #fff;
  }
  #topnav .navbar-nav li.xs-hover > a:hover {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav .navbar-nav li.xs-hover.open:not(.no-fix) > a {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav .navbar-nav li.xs-hover.open:not(.no-fix) > a:hover {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav .navbar-nav li.xs-hover.no-fix > a {
    color: #fff;
    background-color: #fff;
  }
  #topnav .navbar-nav li.xs-hover.no-fix > a:hover {
    color: #ffffff;
    background-color: #3b3fb6;
  }
  #topnav .navbar-collapse > a.navbar-link,
  #topnav .navbar-collapse .navbar-nav > li,
  #topnav .navbar-collapse .navbar-nav > a.navbar-link {
    border-bottom-color: #222222 !important;
    box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000 !important;
  }
  #topnav .navbar-nav .dropdown-menu .divider {
    background-color: #cccccc;
  }
  #topnav .navbar-nav > li > .dropdown-grid-wrapper > .dropdown-menu,
  #topnav .navbar-nav > li > .dropdown-menu {
    border-top-color: #555555 !important;
    box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000 !important;
  }
}
