@import "../variables";
@import "../functions";

#tiles,
.tiles {
  .col-sm-4 {
    margin-bottom: 30px;
    float: left;
    @media only screen and (min-width: @break-sm) and (max-width: @break-md) {
      width: 50% !important;
    }
    @media only screen and (max-width: @break-sm) {
      width: 100%;
    }
  }
  .tile {
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
    background-color: #fff;
    &:hover {
      transform: translateY(-4px);
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      box-shadow: 0 4px 30px rgba(0,0,0,.15) !important;
    }
    div {
      padding: 24px;
      h5 {
        padding: 0 !important;
        color: rgba(0,0,0,0.87) !important;
        line-height: 32px;
        margin-bottom: 8px !important;
        font-weight: 300;
      }
      p {
        padding: 0 !important;
        color: rgba(0,0,0,0.71) !important;
        font-weight: normal;
        line-height: 1.5;
      }
    }
  }
  .tile-title {
    width: 100%;
    height: 260px;
    background-position: 50% 50% !important;
    background-size: cover !important;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    padding: 30px 20px;
    .vertical(end);
  }
}


/* fluid 5 columns */
.grid-sizer,
.grid-item {
  // XL size 4 columns
  width: 22.5%;
  margin-bottom: 15px;
  @media only screen and (min-width: 905px) and (max-width: @break-lg) {
    // 3 columns
    width: 31%;
  }
  @media only screen and (max-width: 905px) {
    // 3 columns
    width: 30%;
  }
  @media only screen and (max-width: @break-md) {
    // 2 columns
    width: 46.5%;
  }
  @media only screen and (max-width: @break-sm) {
    // 1 column
    width: 100%;
  }
}
/* 2 columns */
.grid-item--width2 { width: 45%; }