<script type="text/javascript">
    var retailers = "";

    retailers += "<retailer><a class='single_ad_to_cart_button button alt' href='http://www.t-mobile.com/cell-phones/coolpad-catalyst.html'><img class='img-responsive' src='http://res.cloudinary.com/coolpad/image/upload/v1464799099/logos/t-mobile_fis7qp.png' alt='T-Mobile'></a></retailer>";
    retailers += "<retailer><a class='single_ad_to_cart_button button alt' href='https://www.metropcs.com/phones/details/coolpad-catalyst/610214645975::Gray.html'><img class='img-responsive' src='http://res.cloudinary.com/coolpad/image/upload/v1464799099/logos/metropcs_cmmo5e.png' alt='Metro PCS'></a></retailer>";

    jQuery(retailers).prependTo(".product_meta");
</script>