/*

Vertically center everything

*/
.vertical-center {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.vertical {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-align: center;
}
.bottom {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: end;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: end;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: end;
  /* W3C */
  display: box;
  box-align: end;
}
.flex-vertical-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
/*

Multi line truncate

*/
.multi-line-truncate:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.multi-line-truncate:after {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
}
/*

Hover transition

*/
.hover-transition {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
/*

TRANSLATE (Move an object)

*/
/*

Flex Box Arranging divs

*/
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* optional */
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.tabbed-content ul.tabs li a {
  text-transform: capitalize !important;
  font-weight: initial !important;
  font-size: 100% !important;
}
.product-breadcrumb {
  background-color: transparent;
}
.product-small p.category {
  padding-top: 15px;
}
retailer {
  display: inline-block;
}
retailer:hover {
  background: transparent !important;
}
retailer a {
  background: none !important;
}
retailer a:hover {
  background: #f6f6f6 !important;
  box-shadow: none !important;
  border: 1px solid #c4d600;
}
.entry-content .small-12 {
  margin-bottom: 30px;
}
.entry-content h3 {
  font-size: 18px;
  margin: 0 auto 15px;
  border-bottom: none;
}
.product-info .entry-title {
  background-color: #3b3fb6;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 28px;
}
.product-info .tx-div {
  display: none;
}
.single_ad_to_cart_button img {
  height: 25px;
}
