@import '../../variables';

.conjr-cover {
  .background;
  height: 100vh;
  width: 100%;
  @media only screen and (max-width: @break-sm) {
    height: initial !important;
    padding-top: 100px;
    padding-bottom: 60px;
  }
  padding: 0 20px;
  .content {
    h4, p {
      color: @color-charcoal-grey;
    }
    .actions ul {
      list-style: none;
      .center;
      .inline-block;
      width: 100%;
      padding-left: 0 !important;
      padding-top: 20px;
      li {
        .inline-block;
        width: initial;
        padding: 15px;
      }
    }
  }
  .logo img {
    max-height: 100px;
    width: initial;
  }
  .icons {
    margin: auto;
    padding-top: 50px;
    @media only screen and (min-width: @break-md) {
      width: 350px;
    }
    @media only screen and (max-width: @break-md) {
      .vertical-center;
      .wrapper {
        display: table-caption;
      }
    }
    .icon {
      padding-bottom: 10px;
      @media only screen and (max-width: @break-md) {
        width: 100%;
      }
    }
    .img {
      display: inline-block;
      position: absolute;
      padding-top: 2px;
      img {
        max-height: 30px;
        padding-top: 3px;
      }
    }
    .text {
      display: inline-block;
      width: 160px;
      padding-left: 37px;
      color: @color-snow;
      font-size: 12px;
    }
  }
  .phone {
    @media only screen and (max-width: @break-sm) {
      display: none;
    }
    .left;
    img {
      max-height: 600px;
      width: initial;
    }
  }
  .mobile-phone {
    display: none;
    @media only screen and (max-width: @break-sm) {
      display: block;
      .center;
      img {
        max-height: 300px;
        padding-top: 30px;
        margin: auto;
      }
    }
  }
}

.conjr-camera {
  @media only screen and (min-width: @break-sm) {
    padding-bottom: 0 !important;
  }
  .vc_row,
  .wpb_column,
  .vc_column-inner,
  .wpb_wrapper {
    height: 100%;
  }
  .bottom .vc_column-inner,
  .vertical .vc_column-inner {
    height: initial;
  }
  .icons ul {
    list-style: none;
    .inline-block;
    width: 100%;
    padding-left: 0 !important;
    li {
      .inline-block;
      width: initial;
      padding: 15px;
    }
    img {
      max-height: 40px;
    }
  }
  .conjr-camera-phone img{
    max-height: 600px;
    width: auto;
    padding-top: 20px;
  }
  .camera-website-phone img {
    top: 25px;
    position: relative;
  }
  #website-camera-frame,
  #mobile-camera-frame {
    display: none;
  }
  #mobile-camera-frame {
    margin-top: 30px !important;
  }
  @media only screen and (max-width: @break-sm) {
    .camera-website-phone,
    #website-camera-frame {
      display: none !important;
    }

    h4, p, ul {
      .center;
    }

    ul {
      padding-top: 30px;
    }
  }
  @media only screen and (min-width: @break-sm) {
    .camera-mobile-phone,
    #mobile-camera-frame {
      display: none !important;
    }
  }
}

.conjr-performance {
  height: initial;
  .features {
    .wpb_wrapper {
      width: 100%;
      .vertical-center;
    }
    ul {
      list-style: none;
      .inline-block;
      width: 100%;
      padding-left: 0;
      li {
        .inline-block;
        .center;
        width: initial;
        p {
          padding: 0;
        }
        &:not(:first-child) {
          @media only screen and (min-width: @break-md) {
            border-left: 1px #979797 solid;
            padding-left: 50px;
            margin-left: 50px;
          }
          @media only screen and (min-width: @break-sm) and (max-width: @break-md) {
            border-left: 1px #979797 solid;
            padding-left: 18px;
            margin-left: 18px;
          }
        }
        @media only screen and (max-width: @break-sm) {
          display: block;
          width: 100%;
          .center;
          &:not(:first-child) {
            padding-top: 10px;
            border-top: 1px #979797 solid;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .wpb_single_image, p, h4, .features {
    padding-bottom: 40px;
  }
  @media only screen and (max-width: @break-md) {
    .features {
      padding-bottom: 0;
    }
  }
  img {
    max-height: 300px;
    width: auto;
  }
}

.conjr-design {
  background-position: 75% 50%;
  .wpb_column {
    max-width: 500px;
    h4, p {
      color: @color-snow;
    }
  }
}

.conjr-feature {
  padding: 0 !important;
  min-height: initial;
  height: initial;
  .content {
    .section-padding;
    padding-top: 50px !important;
    padding-bottom: 150px !important;
  }
  p {
    max-width: 700px;
    margin: auto;
    padding-bottom: 25px !important;
  }
  #fingerprint-phone {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: auto;
    height: 321px;
    width: 500px;
    @media only screen and (max-width: @break-md) {
      height: 193px;
      width: 300px;
    }
  }
  #maps,
  #music,
  #videos,
  #messages,
  #games {
    transition: all ease 1.5s;
    position: relative;
    top: 224px;
    height: 60px;
    @media only screen and (max-width: @break-md) {
      top: 134px;
      height: 35px;
    }
  }
  #games {
    left: -40px;
    @media only screen and (max-width: @break-md) {
      left: -26px;
    }
  }
  #messages {
    left: 25px;
    @media only screen and (max-width: @break-md) {
      left: 14px;
    }
  }
  #videos {
    left: 89px;
    @media only screen and (max-width: @break-md) {
      left: 53px;
    }
  }
  #music {
    left: 155px;
    @media only screen and (max-width: @break-md) {
      left: 94px;
    }
  }
  #maps {
    left: 219px;
    @media only screen and (max-width: @break-md) {
      left: 132px;
    }
  }
  .gamesMove {
    top: 80px !important;
    left: 60% !important;
    @media only screen and (max-width: @break-md) {
      top: -35% !important;
      left: -33% !important;
    }
  }
  .messagesMove {
    top: -30% !important;
    left: 64% !important;
    @media only screen and (max-width: @break-md) {
      top: -35% !important;
      left: 24% !important;
    }
  }
  .videosMove {
    top: -36% !important;
    @media only screen and (max-width: @break-md) {
      top: -74% !important;
      left: 58% !important;
    }
  }
  .musicMove {
    top: -30% !important;
    left: -33% !important;
    @media only screen and (max-width: @break-md) {
      top: -74% !important;
      left: 29% !important;
    }
  }
  .mapsMove {
    top: 80px !important;
    left: -27% !important;
    @media only screen and (max-width: @break-md) {
      top: -74% !important;
      left: 1% !important;
    }
  }
}

.conjr-technology {
  padding: 0 !important;
  .background {
    .product-section-padding;
    .product-section-height;
    .vertical;
    background-position: 70% 50%;
    @media only screen and (max-width: @break-md) {
      .bottom;
    }
  }
  .content {
    max-width: 400px;
  }
  h4, p {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  }
}

.conjr-ui {
  @media only screen and (max-width: @break-sm) {
    h4 {
      padding-top: 25px !important;
    }

    h4, h5 {
      .center;
    }

    ol {
      display: none;
    }

    .learn-more p {
      .center;
    }
  }
}

/* UI page */
.fp-section,
.fp-table,
.fp-tableCell {
  height: initial !important;
}

.phone-conjr {
  .section {
    height: 100vh !important;
    margin: 0 !important;
    #phone-container {
      position: fixed;
      top: 0;
      z-index: 1;
      left: 10%;
      display: none;
    }
    &:nth-child(odd) {
      background-color: #eeeeee;
    }
    .container {
      height: 100% !important;
      .row {
        height: 100% !important;
        #phone {
          max-height: 590px;
          max-width: 295px;
          @media only screen and (max-width: @break-md) {
            display: none !important;
          }
        }
        wrapper {
          .col-sm-6 {
            .mobile-phone {
              display: none !important;
              margin-bottom: 10px !important;
              @media only screen and (max-width: @break-md) {
                display: block !important;
                margin: auto;
                max-height: 500px;
              }
              @media only screen and (max-width: @break-sm) {
                max-height: 300px;
              }
            }
            @media only screen and (max-width: @break-md) {
              h3, p {
                text-align: center;
              }
            }
          }
          #unlock-content,
          #gestures-content,
          #recording-content,
          #button-content,
          #video-content,
          #screenshot-content {
            opacity: 0;
          }
        }
      }
    }
  }
}

#cover-bg {
  height: 100vh;
  background: url('../../archive/rfp/shared/background.jpg') center center no-repeat;
  background-size: cover;
  opacity: 1;
}

#cover-bg #cover {
  height: 100vh;
  background: url('../../../images/home-banner.jpg') center center no-repeat;
  background-size: cover;
}

#frame {
  z-index: 10;
  position: fixed;
  margin: auto;
  display: block;
  height: 450px;
  width: 225px;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#phone-frame {
  height: 450px;
  background-size: cover;
}

#screen {
  height: 370px;
  position: absolute;
  top: 38px;
  left: 9px;
}