<div class="wpfilebase-file-default"
     onclick="if('undefined' == typeof event.target.href) document.getElementById('wpfb-file-link-%uid%').click();">
    <div class="icon">
        <a href="%file_url%" target="_blank" title="Download %file_display_name%">
            <img align="middle" src="%file_icon_url%" alt="%file_display_name%"/>
        </a>
    </div>
    <div class="filetitle">
        <a href="%file_url%" title="Download %file_display_name%" target="_blank" id="wpfb-file-link-%uid%">%file_display_name%</a><br/>
        %file_hits% %'Downloads'%
    </div>
    <div class="info">
    </div>
</div>