/*

DO NOT CHANGE URL PATHINGS
Even though they're underlined red, they are correct

*/
@font-face {
    font-family: 'Gotham-Light';
    src: url('../../assets/fonts/Gotham-Light.ttf') format('truetype'), url('../../assets/fonts/Gotham-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../../assets/fonts/Gotham-Medium.ttf') format('truetype'), url('../../assets/fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../../assets/fonts/Gotham-Bold.ttf') format('truetype'), url('../../assets/fonts/Gotham-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../../assets/fonts/Gotham-Book.ttf') format('truetype'), url('../../assets/fonts/Gotham-Book.otf') format('opentype');
}

.font-family-light {
    font-family: 'Gotham-Light', serif;
}

.font-family-medium {
    font-family: 'Gotham-Medium', serif;
}

.font-family-book {
    font-family: 'Gotham-Book', serif;
}

.font-family-bold {
    font-family: 'Gotham-Bold', serif;
}

/*

Automatic Resets

*/
.wpb_content_element {
    margin: 0;
}

.ultb3-box.ult-adjust-bottom-margin {
    margin: 0;
}

.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-col {
    padding: 0;
}

.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-post-data {
    margin-bottom: 0;
}

.vc_gitem-zone-mini .vc_gitem_row .vc_icon_element {
    margin-bottom: 0;
}

.vc_column_container .vc_column-inner {
    padding-left: 0;
    padding-right: 0;
}

.vc_col-has-fill > .vc_column-inner {
    padding-top: 0;
}

.vc_row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.vc_column-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ult-adjust-bottom-margin,
.wpb_content_element {
    margin-bottom: 0 !important;
}

/*

Vertically center everything

*/
.flex-vertical-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

/*

Multi line truncate

*/
.multi-line-truncate:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

.multi-line-truncate:after {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
}

/*

Hover transition

*/
.hover-transition {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

/*

TRANSLATE (Move an object)

*/
/*

Flex Box Arranging divs

*/
.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

body {
    font-family: 'Gotham-Light', serif;
    position: relative;
    overflow-x: hidden;
    color: #5b6770;
}

/*

Text formats

*/
.text-title {
    font-family: 'Gotham-Book', serif;
    color: #ffffff;
    font-size: 64px;
    line-height: 1.1;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .text-title {
        font-size: 48px;
    }
}

@media only screen and (max-width: 768px) {
    .text-title {
        font-size: 36px;
    }
}

@media only screen and (max-width: 480px) {
    .text-title {
        font-size: 32px;
    }
}

.text-description {
    font-family: 'Gotham-Light', serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .text-description {
        font-size: 18px;
    }
}

/*

Short hands

*/
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/*

Mobile content section padding

*/
@media only screen and (max-width: 480px) {
    .mobile-content-padding {
        margin: 0;
        padding: 0 20px 0 20px;
    }
}

/*

Modifiers

*/
@media only screen and (max-width: 768px) {
    .box {
        display: block !important;
    }
}

.affix {
    top: 0;
}

.affix-top {
    position: fixed;
}

/*

BREAKPOINTS

*/
/*

Heights

*/
.section-height {
    max-height: 700px;
}

@media only screen and (min-width: 1024px) {
    .section-height {
        height: 700px;
    }
}

@media only screen and (max-width: 1024px) {
    .section-height {
        height: 700px;
    }
}

@media only screen and (max-width: 768px) {
    .section-height {
        height: 700px;
    }
}

@media only screen and (max-width: 320px) {
    .section-height {
        height: 568px;
    }
}

/*

Section break point set ups

*/
.section {
    display: block;
    padding: 0;
}

@media only screen and (min-width: 1440px) {
    .section {
        margin: 0 119px !important;
    }
}

@media only screen and (max-width: 1440px) {
    .section {
        margin: 0 60px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .section {
        margin: 0 30px !important;
    }
}

@media only screen and (max-width: 768px) {
    .section {
        margin: 0 20px !important;
    }
}

@media only screen and (max-width: 320px) {
    .section {
        margin: 0 10px !important;
    }
}

.section-padding {
    display: block;
}

@media only screen and (min-width: 1440px) {
    .section-padding {
        padding: 0 119px;
    }
}

@media only screen and (max-width: 1440px) {
    .section-padding {
        padding: 0 60px;
    }
}

@media only screen and (max-width: 1024px) {
    .section-padding {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 768px) {
    .section-padding {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 320px) {
    .section-padding {
        padding: 0 10px;
    }
}

.section-tablet {
    display: block;
    padding: 0;
}

@media only screen and (min-width: 1440px) {
    .section-tablet {
        margin: 0 119px !important;
    }
}

@media only screen and (max-width: 1440px) {
    .section-tablet {
        margin: 0 60px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .section-tablet {
        margin: 0 30px !important;
    }
}

@media only screen and (max-width: 768px) {
    .section-tablet {
        margin: 0 0;
    }
}

@media only screen and (max-width: 320px) {
    .section-tablet {
        margin: 0 0;
    }
}

@media only screen and (min-width: 1440px) {
    .section-margin-bottom {
        margin-bottom: 70px !important;
    }
}

@media only screen and (max-width: 1440px) {
    .section-margin-bottom {
        margin-bottom: 70px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .section-margin-bottom {
        margin-bottom: 50px !important;
    }
}

@media only screen and (max-width: 768px) {
    .section-margin-bottom {
        margin-bottom: 50px !important;
    }
}

@media only screen and (max-width: 320px) {
    .section-margin-bottom {
        margin-bottom: 27px !important;
    }
}

@media only screen and (min-width: 1440px) {
    .section-margin-top {
        padding-top: 80px !important;
    }
}

@media only screen and (max-width: 1440px) {
    .section-margin-top {
        padding-top: 70px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .section-margin-top {
        padding-top: 50px !important;
    }
}

@media only screen and (max-width: 768px) {
    .section-margin-top {
        padding-top: 50px !important;
    }
}

@media only screen and (max-width: 320px) {
    .section-margin-top {
        padding-top: 27px !important;
    }
}

/*

RESET

*/
.reset {
    padding: 0;
    margin: 0;
}

/*

Fix img-responsive issue

*/
.img-responsive {
    display: initial !important;
}

#features-list {
    background-color: #f3f4f6;
    margin: 0 !important;
    padding: 60px 0 100px 0 !important;
}

#features-list .column {
    margin-bottom: 0;
}

#features-list h3,
#features-list p {
    font-family: 'Gotham-Book', serif;
    color: #5b6770;
    text-align: center;
}

#features-list h3 {
    font-size: 28px;
    font-weight: 500;
}

#features-list p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.67;
}

#home-content {
    background-color: #f5f5f5;
    margin: 0 !important;
    padding: 50px 0 !important;
    max-width: none !important;
}

#home-content #content {
    margin: 0 132px !important;
    padding: 20px 10px 0 40px !important;
    width: inherit !important;
}

#home-content span {
    background-color: #f5f5f5 !important;
}

.home-products-carousel {
    width: 100%;
    margin: 0;
    padding: 0;
}

.home-products-carousel .row {
    margin: 0;
    padding: 0;
}

.home-products-carousel .row .col-xs-12 {
    margin: 0;
    padding: 0;
}

.home-products-carousel .carousel {
    padding: 0 300px;
}

@media only screen and (max-width: 1440px) {
    .home-products-carousel .carousel {
        padding: 0 200px;
    }
}

@media only screen and (max-width: 1024px) {
    .home-products-carousel .carousel {
        padding: 0 100px;
    }
}

@media only screen and (max-width: 768px) {
    .home-products-carousel .carousel {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 480px) {
    .home-products-carousel .carousel {
        padding: 0 25px;
    }
}

.home-products-carousel .carousel .left,
.home-products-carousel .carousel .right {
    background-image: none !important;
    top: 160px;
    font-size: 72px;
    color: #3b3fb6;
}

.home-products-carousel .carousel .left {
    left: 10%;
}

@media only screen and (max-width: 1024px) {
    .home-products-carousel .carousel .left {
        left: 2%;
    }
}

.home-products-carousel .carousel .right {
    right: 10%;
}

@media only screen and (max-width: 1024px) {
    .home-products-carousel .carousel .right {
        right: 2%;
    }
}

.home-products-carousel .item a {
    font-family: 'Gotham-Light', serif;
    font-size: 24px;
    line-height: 0.67;
    color: #5b6770;
}

.home-products-carousel .item a .col-xs-12 {
    padding: 0 15px;
    margin: 50px 0;
    text-align: center;
}

.home-products-carousel .item a .col-xs-12:hover {
    color: #3b3fb6;
}

.home-products-carousel .item a .col-xs-12:hover .title {
    border-bottom: 4px #3b3fb6 solid;
    padding-bottom: 5px;
}

.home-products-carousel .item a .col-xs-12:hover img {
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.home-products-carousel .item a .image {
    text-align: center;
    display: block;
    margin-bottom: 25px;
}

.home-products-carousel .item a .image img {
    display: initial;
    max-height: 300px;
}

.carousel .cloneditem-1,
.carousel .cloneditem-2,
.carousel .cloneditem-3 {
    display: none;
}

.carousel .carousel-inner > .item.active.right,
.carousel .carousel-inner > .item.next,
.carousel .carousel-inner > .item.active.left,
.carousel .carousel-inner > .item.prev,
.carousel .carousel-inner > .item.left,
.carousel .carousel-inner > .item.prev.right,
.carousel .carousel-inner > .item.active {
    top: 0 !important;
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .carousel .carousel-inner .item a .col-sm-6 {
        width: 50%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .carousel .carousel-inner .item a .col-sm-6 {
        width: 33.333%;
    }
}

@media all and (min-width: 480px) {
    .carousel .carousel-inner > .item.active.right,
    .carousel .carousel-inner > .item.next {
        transform: translate3d(50%, 0, 0);
        left: 0;
    }

    .carousel .carousel-inner > .item.active.left,
    .carousel .carousel-inner > .item.prev {
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }

    .carousel .carousel-inner > .item.left,
    .carousel .carousel-inner > .item.prev.right,
    .carousel .carousel-inner > .item.active {
        transform: translate3d(0, 0, 0);
        left: 0;
    }

    .carousel .carousel-inner > .active.left,
    .carousel .carousel-inner > .prev {
        left: -50%;
    }

    .carousel .carousel-inner > .active.right,
    .carousel .carousel-inner > .next {
        left: 50%;
    }

    .carousel .carousel-inner > .left,
    .carousel .carousel-inner > .prev.right,
    .carousel .carousel-inner > .active {
        left: 0;
    }

    .carousel .carousel-inner .cloneditem-1 {
        display: block;
    }
}

@media all and (min-width: 768px) {
    .carousel .carousel-inner > .item.active.right,
    .carousel .carousel-inner > .item.next {
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }

    .carousel .carousel-inner > .item.active.left,
    .carousel .carousel-inner > .item.prev {
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }

    .carousel .carousel-inner > .item.left,
    .carousel .carousel-inner > .item.prev.right,
    .carousel .carousel-inner > .item.active {
        transform: translate3d(0, 0, 0);
        left: 0;
    }

    .carousel .carousel-inner > .active.left,
    .carousel .carousel-inner > .prev {
        left: -33.333%;
    }

    .carousel .carousel-inner > .active.right,
    .carousel .carousel-inner > .next {
        left: 33.333%;
    }

    .carousel .carousel-inner > .left,
    .carousel .carousel-inner > .prev.right,
    .carousel .carousel-inner > .active {
        left: 0;
    }

    .carousel .carousel-inner .cloneditem-2 {
        display: block;
    }
}

@media all and (min-width: 1024px) {
    .carousel .carousel-inner > .item.active.right,
    .carousel .carousel-inner > .item.next {
        transform: translate3d(25%, 0, 0);
        left: 0;
    }

    .carousel .carousel-inner > .item.active.left,
    .carousel .carousel-inner > .item.prev {
        transform: translate3d(-25%, 0, 0);
        left: 0;
    }

    .carousel .carousel-inner > .item.left,
    .carousel .carousel-inner > .item.prev.right,
    .carousel .carousel-inner > .item.active {
        transform: translate3d(0, 0, 0);
        left: 0;
    }

    .carousel .carousel-inner > .active.left,
    .carousel .carousel-inner > .prev {
        left: -25%;
    }

    .carousel .carousel-inner > .active.right,
    .carousel .carousel-inner > .next {
        left: 25%;
    }

    .carousel .carousel-inner > .left,
    .carousel .carousel-inner > .prev.right,
    .carousel .carousel-inner > .active {
        left: 0;
    }

    .carousel .carousel-inner .cloneditem-3 {
        display: block;
    }
}
