@import '../../../Coolpad/assets/less/variables';
@import '../../../Coolpad/assets/less/components/buttons';
@import '../../../Coolpad/assets/less/components/grid';

#product-manuals {
  .section;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  .manuals-title p {
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 30px;
  }
  .item {
    border: solid 1px #d7d7d7;
    margin-top: -1px;
    padding: 20px 30px;
    @media only screen and (max-width: @break-md) {
      padding: 20px;
    }
    @media only screen and (max-width: @break-sm) {
      padding: 15px;
    }
    @media only screen and (min-width: @break-lg) {
      .vc_col-sm-8 {
        .make-xs-column(8);
      }

      .vc_col-sm-4 {
        .make-xs-column(4);
      }
    }
    @media only screen and (min-width: @break-sm) and (max-width: @break-lg) {
      .vc_col-sm-8 {
        .make-xs-column(7);
      }

      .vc_col-sm-4 {
        .make-xs-column(5);
      }
    }
    .title {
      font-size: 16px;
      font-weight: 300;
      color: #000000;
      @media only screen and (max-width: @break-sm) {
        padding-bottom: 10px;
      }
    }
    .download {
      height: 55px;
      position: relative;
      .vertical;
      .wpb_wrapper {
        @media only screen and (min-width: @break-sm) {
          width: 100%;
          text-align: right;
        }
      }
      a {
        .btn;
        .btn-lg;
        .btn-dark;
        .btn-pill;
      }
    }
  }
}