.fp-section,
.fp-table,
.fp-tableCell {
  height: initial !important;
}
.container {
  height: 100%;
}
#cover-bg {
  height: 100vh;
  background: url('../../rfp/alchemy/background.jpg') center center no-repeat;
  background-size: cover;
  opacity: 1;
}
#cover-bg #cover {
  height: 100vh;
  background: url('../../rfp/alchemy/cover.jpg') center center no-repeat;
  background-size: cover;
}
#cover-bg #cover p {
  font-size: 2.5rem;
  color: #fff;
}
#frame {
  z-index: 10;
  position: fixed;
  margin: auto;
  display: block;
  height: 450px;
  width: 225px;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#phone-frame {
  height: 450px;
  background-size: cover;
}
#screen {
  height: 370px;
  position: absolute;
  top: 38px;
  left: 9px;
}
.odd {
  background-color: #eeeeee;
}
