.background {
  background-size: cover;
  background-position: 50% 50%;
}
.product-section-wrapper {
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  /* Internet Explorer 10 */
  /* Firefox */
  /* Safari, Opera, and Chrome */
  /* W3C */
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-align: center;
}
@media only screen and (max-width: 480px) {
  .product-section-wrapper {
    min-height: 700px;
  }
}
@media only screen and (min-width: 480px) {
  .product-section-wrapper {
    height: 700px;
  }
}
@media only screen and (min-width: 1440px) {
  .product-section-wrapper {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .product-section-wrapper {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .product-section-wrapper {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .product-section-wrapper {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .product-section-wrapper {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .product-mobile-background-shift {
    background-position: 65% 50%;
    background-repeat: no-repeat;
  }
}
/*

Section break point set ups

*/
.section {
  display: block;
  padding: 0;
}
@media only screen and (min-width: 1440px) {
  .section {
    margin: 0 119px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section {
    margin: 0 60px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section {
    margin: 0 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section {
    margin: 0 20px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section {
    margin: 0 10px !important;
  }
}
.section-padding {
  display: block;
}
@media only screen and (min-width: 1440px) {
  .section-padding {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .section-padding {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .section-padding {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .section-padding {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .section-padding {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .product-section-padding {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .product-section-padding {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .product-section-padding {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .product-section-padding {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .product-section-padding {
    padding: 0 10px;
  }
}
.section-tablet {
  display: block;
  padding: 0;
}
@media only screen and (min-width: 1440px) {
  .section-tablet {
    margin: 0 119px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-tablet {
    margin: 0 60px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-tablet {
    margin: 0 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-tablet {
    margin: 0 0;
  }
}
@media only screen and (max-width: 320px) {
  .section-tablet {
    margin: 0 0;
  }
}
@media only screen and (min-width: 1440px) {
  .section-margin-bottom {
    margin-bottom: 70px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-margin-bottom {
    margin-bottom: 70px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-margin-bottom {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-margin-bottom {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section-margin-bottom {
    margin-bottom: 27px !important;
  }
}
@media only screen and (min-width: 1440px) {
  .section-margin-top {
    padding-top: 80px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-margin-top {
    padding-top: 70px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-margin-top {
    padding-top: 50px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-margin-top {
    padding-top: 50px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section-margin-top {
    padding-top: 27px !important;
  }
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
/*

Mobile content section padding

*/
@media only screen and (max-width: 480px) {
  .mobile-content-padding {
    margin: 0;
    padding: 0 20px 0 20px;
  }
}
/*

Modifiers

*/
@media only screen and (max-width: 768px) {
  .box {
    display: block !important;
  }
}
.affix {
  top: 0;
}
.affix-top {
  position: fixed;
}
h1,
.h1 {
  font-size: 80px;
}
h2,
.h2 {
  font-size: 64px;
}
h3,
.h3 {
  font-size: 48px;
}
h4,
.h4 {
  font-size: 36px;
}
h5,
.h5 {
  font-size: 24px;
}
p,
.p {
  font-size: 16px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.p {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: relative;
  overflow-x: hidden;
  color: #292f33;
}
/*
Legacy used globally that needs cleaned up
 */
/*

Vertically center everything

*/
.vertical-center {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.vertical {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-align: center;
}
.bottom {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: end;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: end;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: end;
  /* W3C */
  display: box;
  box-align: end;
}
.flex-vertical-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
/*

Multi line truncate

*/
.multi-line-truncate:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.multi-line-truncate:after {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
}
/*

Hover transition

*/
.hover-transition {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
/*

TRANSLATE (Move an object)

*/
/*

Flex Box Arranging divs

*/
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* optional */
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
/*

Automatic Resets

*/
.wpb_content_element {
  margin: 0;
}
.ultb3-box.ult-adjust-bottom-margin {
  margin: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-col {
  padding: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-post-data {
  margin-bottom: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_icon_element {
  margin-bottom: 0;
}
.vc_column_container .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.vc_col-has-fill > .vc_column-inner {
  padding-top: 0;
}
.vc_row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.vc_column-inner {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ult-adjust-bottom-margin,
.wpb_content_element {
  margin-bottom: 0 !important;
}
/*

RESET

*/
.reset {
  padding: 0;
  margin: 0;
}
/*

Fix img-responsive issue

*/
.img-responsive {
  display: initial !important;
}
@media only screen and (min-width: 1024px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 1024px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 768px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 320px) {
  .section-height {
    height: 568px;
  }
}
/*

Text formats

*/
.text-title {
  font-size: 64px;
  line-height: 1.1;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .text-title {
    font-size: 48px;
  }
}
@media only screen and (max-width: 768px) {
  .text-title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 480px) {
  .text-title {
    font-size: 32px;
  }
}
.text-description {
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .text-description {
    font-size: 18px;
  }
}
.hero {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#home-cover .logo,
#home-cover .details {
  padding-bottom: 50px;
}
#home-cover p {
  font-weight: 300;
  color: #aaaaaa;
  padding-left: 15px;
}
#home-cover a {
  margin-bottom: 21px;
}
@media only screen and (min-width: 768px) {
  #home-tiles {
    margin: 5px;
  }
}
@media only screen and (min-width: 768px) {
  #home-tiles .tile {
    padding: 5px;
  }
}
#home-tiles .tile-1 {
  background-color: #2f355e;
  /* Internet Explorer 10 */
  /* Firefox */
  /* Safari, Opera, and Chrome */
  /* W3C */
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  height: 162px;
  width: 100%;
}
#home-tiles .tile-2 {
  background: linear-gradient(to top, #c4d600, #8d9a00 76%, #c4d600);
  background: -webkit-linear-gradient(top, #c4d600, #8d9a00 76%, #c4d600);
  /* Internet Explorer 10 */
  /* Firefox */
  /* Safari, Opera, and Chrome */
  /* W3C */
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  height: 162px;
  width: 100%;
}
#home-tiles .tile-3 {
  /* Internet Explorer 10 */
  /* Firefox */
  /* Safari, Opera, and Chrome */
  /* W3C */
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  height: 162px;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
}
#home-tiles .tile-3 .text {
  display: inline-block;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.17;
  color: #ffffff;
}
#home-tiles .tile-3 .icon {
  display: inline-block;
  bottom: 25px;
  position: relative;
  left: 20px;
}
#home-tiles .tile-3 .icon .fa {
  color: #fff;
  font-size: 18px;
  /* Internet Explorer 10 */
  /* Firefox */
  /* Safari, Opera, and Chrome */
  /* W3C */
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  padding: 8px 14px;
  border-radius: 50%;
  border: solid 1.4px #fefefe;
}
/*

OLD

#home-cover {
  #slider {
    .left,
    .right {
      background: transparent;
    }
    .icon-prev,
    .icon-next {
      font-size: 150px;
      top: 35%;
    }
    .item {
      background-position: 50% 50%;
      background-size: cover;
      max-height: 600px;
      min-height: 425px;
      .wrapper {
        .vertical-center;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-size: cover;
        .content {
          .title {
            .text-title;
            .block;
            .center;
            text-shadow: 0 2px 40px #000000;
          }
          .description {
            .text-description;
            .block;
            .center;
            margin: 20px 0;
            text-shadow: 0 2px 40px #000000;
          }
          .buy {
            .center;
            .block;
            a {

              font-size: 28px;
            }
          }
        }
      }
    }
  }
}

#home-new {
  @media only screen and (min-width: @break-md) {
    height: 600px;
    .vertical-center;
  }
  @media only screen and (max-width: @break-md) {
    .vc_column_container {
      width: 100% !important;
    }

    .image {
      margin-top: 70px;
    }

    .buy {
      margin-bottom: 116px;
    }

    .image {
      .wpb_single_image {
        @media only screen and (min-width: @break-xl) {
          text-align: right;
        }
      }
    }
  }
  .title {
    .block;

    font-size: 48px;
    font-weight: 300;
    line-height: 1.25;
    color: @color-charcoal-grey;

    text-align: center;
    @media only screen and (min-width: @break-xl) {
      text-align: left;
    }
  }
  .description {
    .block;
    margin: 24px 0;

    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    color: @color-charcoal-grey;

    text-align: center;
    @media only screen and (min-width: @break-xl) {
      text-align: left;
    }
  }
  .buy {
    .block;

    text-align: center;
    @media only screen and (min-width: @break-xl) {
      text-align: left;
    }
    a {

      font-size: 28px;
      font-weight: normal;
      color: @color-charcoal-grey !important;
    }
  }
}

#home-highlight {
  .section-padding;
  background-position: 50% 50%;
  background-size: cover;
  .wrapper {
    @media only screen and (min-width: @break-sm) {
      height: @height-lg;
      .vertical;
    }
    @media only screen and (max-width: @break-sm) {
      .flexbox;
    }
    .left-div {
      height: 100%;
      @media only screen and (min-width: @break-sm) {
        .vertical-center;
      }
      @media only screen and (min-width: @break-sm) and (max-width: @break-md) {
        width: 50%;
        padding: 60px 0 90px 0;
      }
      @media only screen and (max-width: @break-sm) {
        padding-bottom: 44px;
        .flexbox-div(2);
      }
      .image {
        .center;
        @media only screen  and (min-width: @break-sm) {
          .right;
        }
      }
      .title {

        font-size: 48px;
        font-weight: normal;
        line-height: 1.25;
        margin-top: 40px;
        .center;
        @media only screen  and (max-width: @break-md) {
          font-size: 36px;
        }
        @media only screen  and (min-width: @break-sm) {
          .right;
        }
      }
      .description {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        margin: 20px 0 36px 0;
        .center;
        @media only screen  and (min-width: @break-sm) {
          .right;
        }
      }
      .buy {
        .center;
        @media only screen  and (min-width: @break-sm) {
          .right;
        }
        a {
          color: @color-charcoal-grey !important;
        }
      }
    }
    .center-div {
      @media only screen and (min-width: @break-sm) and (max-width: @break-md) {
        width: 50%;
        padding: 60px 0 90px 0;
      }
      @media only screen  and (max-width: @break-sm) {
        padding: 30px 0 16px 0;
        .flexbox-div(1);
      }
      .vertical-center;
      height: 100%;
      padding: 0 20px;
      img {
        max-height: 500px !important;
      }
    }
    .right-div {
      @media only screen and (max-width: @break-md) {
        display: none;
      }
      .vertical-center;
      height: 100%;
      .content {
        width: 300px;
        background: rgba(255, 255, 255, 0.5);
        padding: 35px;
        .title {
          font-size: 24px;
          font-weight: 300;
          line-height: 1.4;
        }
        .description {
          font-size: 17.2px;
          font-weight: normal;
          line-height: 2.1;
        }
        .image {
          text-align: right;
        }
      }
    }
  }
}

#home-phones {
  width: 100%;
  .vc_col-sm-3 {
    @media only screen and (min-width: @break-sm) and (max-width: @break-md) {
      width: 50% !important;
      float: left;
    }
  }
  .wrapper {
    height: 100%;
    .title p {

      .center;
      font-size: 48px;
      line-height: 1.5;
      padding: 40px 0;
    }
    .item {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 455px !important;
      .name p {

        .center;
        font-size: 36px;
        font-weight: 500;
        line-height: 0.67;
        padding: 33px 0 33px 0;
      }
      img {
        width: 150px;
        height: 300px;
      }
      .buy {
        .center;
        a {
          font-size: 24px;
          font-weight: 300;
          color: @color-charcoal-grey !important;
        }
      }
    }
  }
}

#home-accessories {
  .section-padding;
  display: none;

  .section-height;
  background-position: 50% 50%;
  background-size: cover;
  .wrapper {
    .vertical-center(center, end);
    .section-height;
    width: 100%;
    .content {
      width: 660px;
      .title {
        .center;

        font-size: 64px;
        line-height: 1.13;
      }
      .description {
        .center;
        font-size: 24px;
        line-height: 1.5;
      }
      .buy {
        .center;
        a {

          font-size: 28px;
          color: @color-charcoal-grey !important;
        }
      }
      .image {
        .vertical-center;
      }
    }
  }
}
 */
