.background {
  background-size: cover;
  background-position: 50% 50%;
}
.product-section-wrapper {
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  /* Internet Explorer 10 */
  /* Firefox */
  /* Safari, Opera, and Chrome */
  /* W3C */
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-align: center;
}
@media only screen and (max-width: 480px) {
  .product-section-wrapper {
    min-height: 700px;
  }
}
@media only screen and (min-width: 480px) {
  .product-section-wrapper {
    height: 700px;
  }
}
@media only screen and (min-width: 1440px) {
  .product-section-wrapper {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .product-section-wrapper {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .product-section-wrapper {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .product-section-wrapper {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .product-section-wrapper {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .product-mobile-background-shift {
    background-position: 65% 50%;
    background-repeat: no-repeat;
  }
}
/*

Section break point set ups

*/
.section {
  display: block;
  padding: 0;
}
@media only screen and (min-width: 1440px) {
  .section {
    margin: 0 119px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section {
    margin: 0 60px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section {
    margin: 0 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section {
    margin: 0 20px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section {
    margin: 0 10px !important;
  }
}
.section-padding {
  display: block;
}
@media only screen and (min-width: 1440px) {
  .section-padding {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .section-padding {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .section-padding {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .section-padding {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .section-padding {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .product-section-padding {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .product-section-padding {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .product-section-padding {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .product-section-padding {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .product-section-padding {
    padding: 0 10px;
  }
}
.section-tablet {
  display: block;
  padding: 0;
}
@media only screen and (min-width: 1440px) {
  .section-tablet {
    margin: 0 119px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-tablet {
    margin: 0 60px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-tablet {
    margin: 0 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-tablet {
    margin: 0 0;
  }
}
@media only screen and (max-width: 320px) {
  .section-tablet {
    margin: 0 0;
  }
}
@media only screen and (min-width: 1440px) {
  .section-margin-bottom {
    margin-bottom: 70px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-margin-bottom {
    margin-bottom: 70px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-margin-bottom {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-margin-bottom {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section-margin-bottom {
    margin-bottom: 27px !important;
  }
}
@media only screen and (min-width: 1440px) {
  .section-margin-top {
    padding-top: 80px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-margin-top {
    padding-top: 70px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-margin-top {
    padding-top: 50px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-margin-top {
    padding-top: 50px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section-margin-top {
    padding-top: 27px !important;
  }
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
/*

Mobile content section padding

*/
@media only screen and (max-width: 480px) {
  .mobile-content-padding {
    margin: 0;
    padding: 0 20px 0 20px;
  }
}
/*

Modifiers

*/
@media only screen and (max-width: 768px) {
  .box {
    display: block !important;
  }
}
.affix {
  top: 0;
}
.affix-top {
  position: fixed;
}
h1,
.h1 {
  font-size: 80px;
}
h2,
.h2 {
  font-size: 64px;
}
h3,
.h3 {
  font-size: 48px;
}
h4,
.h4 {
  font-size: 36px;
}
h5,
.h5 {
  font-size: 24px;
}
p,
.p {
  font-size: 16px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.p {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: relative;
  overflow-x: hidden;
  color: #292f33;
}
/*
Legacy used globally that needs cleaned up
 */
/*

Vertically center everything

*/
.vertical-center {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.vertical {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-align: center;
}
.bottom {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: end;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: end;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: end;
  /* W3C */
  display: box;
  box-align: end;
}
.flex-vertical-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
/*

Multi line truncate

*/
.multi-line-truncate:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.multi-line-truncate:after {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
}
/*

Hover transition

*/
.hover-transition {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
/*

TRANSLATE (Move an object)

*/
/*

Flex Box Arranging divs

*/
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* optional */
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
/*

Automatic Resets

*/
.wpb_content_element {
  margin: 0;
}
.ultb3-box.ult-adjust-bottom-margin {
  margin: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-col {
  padding: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-post-data {
  margin-bottom: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_icon_element {
  margin-bottom: 0;
}
.vc_column_container .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.vc_col-has-fill > .vc_column-inner {
  padding-top: 0;
}
.vc_row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.vc_column-inner {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ult-adjust-bottom-margin,
.wpb_content_element {
  margin-bottom: 0 !important;
}
/*

RESET

*/
.reset {
  padding: 0;
  margin: 0;
}
/*

Fix img-responsive issue

*/
.img-responsive {
  display: initial !important;
}
@media only screen and (min-width: 1024px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 1024px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 768px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 320px) {
  .section-height {
    height: 568px;
  }
}
/*

Text formats

*/
.text-title {
  font-size: 64px;
  line-height: 1.1;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .text-title {
    font-size: 48px;
  }
}
@media only screen and (max-width: 768px) {
  .text-title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 480px) {
  .text-title {
    font-size: 32px;
  }
}
.text-description {
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .text-description {
    font-size: 18px;
  }
}
#product-cover-hero {
  height: 100vh !important;
  background-size: cover;
  background-position: 50% 50%;
}
/*

Standalone pages

 */
.conjr-cover {
  padding: 0 20px;
}
@media only screen and (min-width: 480px) {
  .conjr-cover {
    height: 100vh;
  }
}
.conjr-cover .content h4,
.conjr-cover .content p {
  color: #5b6770;
}
.conjr-cover .content .actions ul {
  list-style: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-left: 0 !important;
  padding-top: 80px;
}
.conjr-cover .content .actions ul li {
  display: inline-block;
  width: initial;
  padding: 15px;
}
.conjr-cover .icons ul {
  list-style: none;
  padding-top: 30px;
  padding-left: 0;
  margin: auto;
  display: table;
}
.conjr-cover .icons ul li {
  display: block;
  width: initial;
  padding: 10px;
  color: #fafafa;
}
.conjr-cover .icons ul li img {
  max-height: 45px;
  padding-right: 10px;
}
@media only screen and (min-width: 480px) {
  .conjr-cover .phone {
    text-align: left;
  }
}
.conjr-cover .phone img {
  max-height: 600px;
  width: auto;
}
@media only screen and (max-width: 480px) {
  .conjr-cover .phone img {
    max-height: 400px;
  }
}
@media only screen and (min-width: 480px) {
  .conjr-camera {
    padding-bottom: 0 !important;
  }
}
.conjr-camera .vc_row,
.conjr-camera .wpb_column,
.conjr-camera .vc_column-inner,
.conjr-camera .wpb_wrapper {
  height: 100%;
}
.conjr-camera .bottom .vc_column-inner,
.conjr-camera .vertical .vc_column-inner {
  height: initial;
}
.conjr-camera .icons ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding-left: 0 !important;
}
.conjr-camera .icons ul li {
  display: inline-block;
  width: initial;
  padding: 15px;
}
.conjr-camera .website-phone img,
.conjr-camera .mobile-phone img {
  max-height: 600px;
  width: auto;
  padding-top: 20px;
}
@media only screen and (max-width: 480px) {
  .conjr-camera .website-phone {
    display: none;
  }
  .conjr-camera h4,
  .conjr-camera p,
  .conjr-camera ul {
    text-align: center;
  }
  .conjr-camera ul {
    padding-top: 30px;
  }
}
@media only screen and (min-width: 480px) {
  .conjr-camera .mobile-phone {
    display: none;
  }
}
.conjr-performance {
  height: initial;
}
.conjr-performance .features .wpb_wrapper {
  width: 100%;
  /* Internet Explorer 10 */
  /* Firefox */
  /* Safari, Opera, and Chrome */
  /* W3C */
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.conjr-performance .features ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding-left: 0;
}
.conjr-performance .features ul li {
  display: inline-block;
  text-align: center;
  width: initial;
}
.conjr-performance .features ul li p {
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .conjr-performance .features ul li:not(:first-child) {
    border-left: 1px #979797 solid;
    padding-left: 50px;
    margin-left: 50px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .conjr-performance .features ul li:not(:first-child) {
    border-left: 1px #979797 solid;
    padding-left: 18px;
    margin-left: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .conjr-performance .features ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
  .conjr-performance .features ul li:not(:first-child) {
    padding-top: 10px;
    border-top: 1px #979797 solid;
    margin-top: 10px;
  }
}
.conjr-performance .wpb_single_image,
.conjr-performance p,
.conjr-performance h4,
.conjr-performance .features {
  padding-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .conjr-performance .features {
    padding-bottom: 0;
  }
}
.conjr-performance img {
  max-height: 300px;
  width: auto;
}
.conjr-design {
  background-position: 75% 50%;
}
.conjr-design .wpb_column {
  max-width: 500px;
}
.conjr-design .wpb_column h4,
.conjr-design .wpb_column p {
  color: #fafafa;
}
.conjr-feature {
  padding-bottom: 0 !important;
}
.conjr-feature img {
  max-height: 450px;
  width: initial;
  position: relative;
}
.conjr-feature p {
  max-width: 700px;
  margin: auto;
  padding-bottom: 25px !important;
}
@media only screen and (max-width: 480px) {
  .conjr-feature {
    height: 500px;
    min-height: initial;
  }
}
.conjr-technology {
  padding: 0 !important;
}
.conjr-technology .background {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  /* Internet Explorer 10 */
  /* Firefox */
  /* Safari, Opera, and Chrome */
  /* W3C */
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-align: center;
  background-position: 70% 50%;
}
@media only screen and (min-width: 1440px) {
  .conjr-technology .background {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .conjr-technology .background {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .conjr-technology .background {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .conjr-technology .background {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .conjr-technology .background {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 480px) {
  .conjr-technology .background {
    min-height: 700px;
  }
}
@media only screen and (min-width: 480px) {
  .conjr-technology .background {
    height: 700px;
  }
}
.conjr-technology .content {
  max-width: 500px;
}
.conjr-technology h4,
.conjr-technology p {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 480px) {
  .conjr-technology .background {
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-align: end;
    /* Firefox */
    display: -moz-box;
    -moz-box-align: end;
    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-align: end;
    /* W3C */
    display: box;
    box-align: end;
  }
}
@media only screen and (max-width: 480px) {
  .conjr-ui h4 {
    padding-top: 25px !important;
  }
  .conjr-ui h4,
  .conjr-ui h5 {
    text-align: center;
  }
  .conjr-ui ol {
    display: none;
  }
}
/* UI page */
.fp-section,
.fp-table,
.fp-tableCell {
  height: initial !important;
}
.phone-conjr .section {
  height: 100vh !important;
  margin: 0 !important;
}
.phone-conjr .section #phone-container {
  position: fixed;
  top: 0;
  z-index: 1;
  left: 10%;
  display: none;
}
.phone-conjr .section:nth-child(odd) {
  background-color: #eeeeee;
}
.phone-conjr .section .container {
  height: 100% !important;
}
.phone-conjr .section .container .row {
  height: 100% !important;
}
@media only screen and (max-width: 768px) {
  .phone-conjr .section .container .row #phone {
    display: none !important;
  }
}
.phone-conjr .section .container .row wrapper .col-sm-6 .mobile-phone {
  display: none !important;
}
@media only screen and (max-width: 768px) {
  .phone-conjr .section .container .row wrapper .col-sm-6 .mobile-phone {
    display: block !important;
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .phone-conjr .section .container .row wrapper .col-sm-6 h3,
  .phone-conjr .section .container .row wrapper .col-sm-6 p {
    text-align: center;
  }
}
.phone-conjr .section .container .row wrapper #unlock-content,
.phone-conjr .section .container .row wrapper #gestures-content,
.phone-conjr .section .container .row wrapper #recording-content,
.phone-conjr .section .container .row wrapper #button-content,
.phone-conjr .section .container .row wrapper #video-content,
.phone-conjr .section .container .row wrapper #screenshot-content {
  opacity: 0;
}
