@import '../variables';

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @media only screen and (max-width: @break-sm) {
    height: initial;
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

#home-cover {
  .background;
  height: calc(~"100vh - 50px");
  width: 100%;
  @media only screen and (max-width: @break-sm) {
    height: initial !important;
    padding-top: 100px;
    padding-bottom: 60px;
  }
  p {
    font-size: 26px !important;
    color: #ffffff !important;
    padding: 50px 0 !important;
    width: 350px !important;
    margin: auto !important;
    text-align: center !important;
  }
  .logo {
    p {
      padding: 0 !important;
    }
    img {
      max-height: 200px;
      width: initial;
      @media only screen and (max-width: @break-sm) {
        max-height: 130px;
      }
    }
  }
}
#home-cover.dyno {
  p {
    font-size: 40px !important;
    padding: 35px !important;
    width: initial !important;
  }
}

#home-tiles {
  @media only screen and (max-width: @break-md) {
    .vc_col-sm-4 {
      width: 100%;
    }
  }
  .tile-title {
    background-size: cover !important;
    height: 300px;
    .h5;
    color: @color-snow;
    padding: 30px !important;
    &:first-child {
      .vertical-center;
    }
    &:last-child {
      .bottom;
      .center;
    }
  }
}

#catalyst {
  .product-section-wrapper;
  height: 500px !important;
  padding-bottom: 0 !important;
  .block;
  #logo {  max-height: 40px;  }
  #phone img {  max-height: 400px;  }
  h5 {  padding: 30px 0 65px 0 !important;  }
  @media only screen and (min-width: @break-md) {
    #phone,
    #info {
      height: 100%;
    }
  }
  @media only screen and (max-width: @break-md) {
    height: initial !important;
    min-height: initial !important;
    .flexbox;
    #info {
      .flexbox-div(1);
      width: 100%;
      padding-bottom: 60px;
      .vertical-center;
      div {
        .center;
      }
    }
    #phone {
      .flexbox-div(2);
      margin: auto;
    }
  }
}
