@import '../variables';

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @media only screen and (max-width: @break-sm) {
    height: initial;
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

#home-cover {
  .vertical !important;
  .details {
    padding: 50px 0;
    @media only screen and (max-width: @break-md) {
      padding: 30px 0;
    }
  }
  p {
    font-weight: 300;
    color: #aaaaaa;
  }
  .logo img,
  .website-phone img,
  .mobile-phone img {
    width: auto;
  }
  .logo img {
    max-height: 100px;
  }
  #buy {
    .vertical-center !important;
    a {
      @media only screen and (min-width: @break-sm) {
        margin-top: 40px;
      }
    }
  }
  .website-phone img {
    max-height: 400px;
  }
  .mobile-phone img {
    display: none !important;
    padding-top: 30px;
  }
  @media only screen and (max-width: @break-sm) {
    .website-phone img {
      display: none !important;
    }
    .mobile-phone img {
      display: block !important;
    }
  }
}

#home-tiles {
  @media only screen and (max-width: @break-md) {
    .vc_col-sm-4 {
      width: 100%;
    }
  }
  .tile-title {
    background-size: cover !important;
    height: 300px;
    .h5;
    color: @color-snow;
    padding: 30px !important;
    &:first-child {
      .vertical-center;
    }
    &:last-child {
      .bottom;
      .center;
    }
  }
}

#catalyst {
  .product-section-wrapper;
  height: 500px !important;
  padding-bottom: 0 !important;
  .block;
  #logo {  max-height: 40px;  }
  #phone img {  max-height: 400px;  }
  h5 {  padding: 30px 0 65px 0 !important;  }
  @media only screen and (min-width: @break-md) {
    #phone,
    #info {
      height: 100%;
    }
  }
  @media only screen and (max-width: @break-md) {
    height: initial !important;
    min-height: initial !important;
    .flexbox;
    #info {
      .flexbox-div(1);
      width: 100%;
      padding-bottom: 60px;
      .vertical-center;
      div {
        .center;
      }
    }
    #phone {
      .flexbox-div(2);
      margin: auto;
    }
  }
}

/*

OLD

#home-cover {
  #slider {
    .left,
    .right {
      background: transparent;
    }
    .icon-prev,
    .icon-next {
      font-size: 150px;
      top: 35%;
    }
    .item {
      background-position: 50% 50%;
      background-size: cover;
      max-height: 600px;
      min-height: 425px;
      .wrapper {
        .vertical-center;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-size: cover;
        .content {
          .title {
            .text-title;
            .block;
            .center;
            text-shadow: 0 2px 40px #000000;
          }
          .description {
            .text-description;
            .block;
            .center;
            margin: 20px 0;
            text-shadow: 0 2px 40px #000000;
          }
          .buy {
            .center;
            .block;
            a {

              font-size: 28px;
            }
          }
        }
      }
    }
  }
}

#home-new {
  @media only screen and (min-width: @break-md) {
    height: 600px;
    .vertical-center;
  }
  @media only screen and (max-width: @break-md) {
    .vc_column_container {
      width: 100% !important;
    }

    .image {
      margin-top: 70px;
    }

    .buy {
      margin-bottom: 116px;
    }

    .image {
      .wpb_single_image {
        @media only screen and (min-width: @break-xl) {
          text-align: right;
        }
      }
    }
  }
  .title {
    .block;

    font-size: 48px;
    font-weight: 300;
    line-height: 1.25;
    color: @color-charcoal-grey;

    text-align: center;
    @media only screen and (min-width: @break-xl) {
      text-align: left;
    }
  }
  .description {
    .block;
    margin: 24px 0;

    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    color: @color-charcoal-grey;

    text-align: center;
    @media only screen and (min-width: @break-xl) {
      text-align: left;
    }
  }
  .buy {
    .block;

    text-align: center;
    @media only screen and (min-width: @break-xl) {
      text-align: left;
    }
    a {

      font-size: 28px;
      font-weight: normal;
      color: @color-charcoal-grey !important;
    }
  }
}

#home-highlight {
  .section-padding;
  background-position: 50% 50%;
  background-size: cover;
  .wrapper {
    @media only screen and (min-width: @break-sm) {
      height: @height-lg;
      .vertical;
    }
    @media only screen and (max-width: @break-sm) {
      .flexbox;
    }
    .left-div {
      height: 100%;
      @media only screen and (min-width: @break-sm) {
        .vertical-center;
      }
      @media only screen and (min-width: @break-sm) and (max-width: @break-md) {
        width: 50%;
        padding: 60px 0 90px 0;
      }
      @media only screen and (max-width: @break-sm) {
        padding-bottom: 44px;
        .flexbox-div(2);
      }
      .image {
        .center;
        @media only screen  and (min-width: @break-sm) {
          .right;
        }
      }
      .title {

        font-size: 48px;
        font-weight: normal;
        line-height: 1.25;
        margin-top: 40px;
        .center;
        @media only screen  and (max-width: @break-md) {
          font-size: 36px;
        }
        @media only screen  and (min-width: @break-sm) {
          .right;
        }
      }
      .description {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        margin: 20px 0 36px 0;
        .center;
        @media only screen  and (min-width: @break-sm) {
          .right;
        }
      }
      .buy {
        .center;
        @media only screen  and (min-width: @break-sm) {
          .right;
        }
        a {
          color: @color-charcoal-grey !important;
        }
      }
    }
    .center-div {
      @media only screen and (min-width: @break-sm) and (max-width: @break-md) {
        width: 50%;
        padding: 60px 0 90px 0;
      }
      @media only screen  and (max-width: @break-sm) {
        padding: 30px 0 16px 0;
        .flexbox-div(1);
      }
      .vertical-center;
      height: 100%;
      padding: 0 20px;
      img {
        max-height: 500px !important;
      }
    }
    .right-div {
      @media only screen and (max-width: @break-md) {
        display: none;
      }
      .vertical-center;
      height: 100%;
      .content {
        width: 300px;
        background: rgba(255, 255, 255, 0.5);
        padding: 35px;
        .title {
          font-size: 24px;
          font-weight: 300;
          line-height: 1.4;
        }
        .description {
          font-size: 17.2px;
          font-weight: normal;
          line-height: 2.1;
        }
        .image {
          text-align: right;
        }
      }
    }
  }
}

#home-phones {
  width: 100%;
  .vc_col-sm-3 {
    @media only screen and (min-width: @break-sm) and (max-width: @break-md) {
      width: 50% !important;
      float: left;
    }
  }
  .wrapper {
    height: 100%;
    .title p {

      .center;
      font-size: 48px;
      line-height: 1.5;
      padding: 40px 0;
    }
    .item {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 455px !important;
      .name p {

        .center;
        font-size: 36px;
        font-weight: 500;
        line-height: 0.67;
        padding: 33px 0 33px 0;
      }
      img {
        width: 150px;
        height: 300px;
      }
      .buy {
        .center;
        a {
          font-size: 24px;
          font-weight: 300;
          color: @color-charcoal-grey !important;
        }
      }
    }
  }
}

#home-accessories {
  .section-padding;
  display: none;

  .section-height;
  background-position: 50% 50%;
  background-size: cover;
  .wrapper {
    .vertical-center(center, end);
    .section-height;
    width: 100%;
    .content {
      width: 660px;
      .title {
        .center;

        font-size: 64px;
        line-height: 1.13;
      }
      .description {
        .center;
        font-size: 24px;
        line-height: 1.5;
      }
      .buy {
        .center;
        a {

          font-size: 28px;
          color: @color-charcoal-grey !important;
        }
      }
      .image {
        .vertical-center;
      }
    }
  }
}
 */