@font-face {
  font-family: 'Gotham-Light';
  src: url(../../../assets/fonts/Gotham-Light.ttf) format('truetype'), url(../../../assets/fonts/Gotham-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url(../../../assets/fonts/Gotham-Medium.ttf) format('truetype'), url(../../../assets/fonts/Gotham-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url(../../../assets/fonts/Gotham-Bold.ttf) format('truetype'), url(../../../assets/fonts/Gotham-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../../../assets/fonts/Gotham-Book.ttf') format('truetype'), url(../../../assets/fonts/Gotham-Book.otf) format('opentype');
}
.font-family-light {
  font-family: Gotham-Light, serif;
}
.font-family-medium {
  font-family: Gotham-Medium, serif;
}
.font-family-book {
  font-family: Gotham-Book, serif;
}
.font-family-bold {
  font-family: Gotham-Bold, serif;
}
h1,
.h1 {
  font-family: Gotham-Light, serif;
  font-size: 80px;
  color: #c3d500;
}
h2,
.h2 {
  font-family: Gotham-Light, serif;
  font-size: 64px;
  color: #ffffff;
}
h3,
.h3 {
  font-family: Gotham-Medium, serif;
  font-size: 48px;
  color: #3b3fb6;
}
h4,
.h4 {
  font-family: Gotham-Medium, serif;
  font-size: 36px;
  color: #000000;
}
h5,
.h5 {
  font-family: Gotham-Medium, serif;
  font-size: 24px;
  color: #5b6770;
}
p,
.p {
  font-family: Gotham-Light, serif;
  font-size: 18px;
  color: #000000;
}
/*

Automatic Resets

*/
.wpb_content_element {
  margin: 0;
}
.ultb3-box.ult-adjust-bottom-margin {
  margin: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-col {
  padding: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_gitem-post-data {
  margin-bottom: 0;
}
.vc_gitem-zone-mini .vc_gitem_row .vc_icon_element {
  margin-bottom: 0;
}
.vc_column_container .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.vc_col-has-fill > .vc_column-inner {
  padding-top: 0;
}
.vc_row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.vc_column-inner {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ult-adjust-bottom-margin,
.wpb_content_element {
  margin-bottom: 0 !important;
}
/*

Vertically center everything

*/
.flex-vertical-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
/*

Multi line truncate

*/
.multi-line-truncate:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.multi-line-truncate:after {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
}
/*

Hover transition

*/
.hover-transition {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
/*

TRANSLATE (Move an object)

*/
/*

Flex Box Arranging divs

*/
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* optional */
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
body {
  font-family: Gotham-Light, serif;
  position: relative;
  overflow-x: hidden;
  color: #5b6770;
}
/*

Text formats

*/
.text-title {
  font-family: Gotham-Book, serif;
  color: #ffffff;
  font-size: 64px;
  line-height: 1.1;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .text-title {
    font-size: 48px;
  }
}
@media only screen and (max-width: 768px) {
  .text-title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 480px) {
  .text-title {
    font-size: 32px;
  }
}
.text-description {
  font-family: Gotham-Light, serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .text-description {
    font-size: 18px;
  }
}
/*

Short hands

*/
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
/*

Mobile content section padding

*/
@media only screen and (max-width: 480px) {
  .mobile-content-padding {
    margin: 0;
    padding: 0 20px 0 20px;
  }
}
/*

Modifiers

*/
@media only screen and (max-width: 768px) {
  .box {
    display: block !important;
  }
}
.affix {
  top: 0;
}
.affix-top {
  position: fixed;
}
/*

BREAKPOINTS

*/
/*

Heights

*/
.section-height {
  max-height: 700px;
}
@media only screen and (min-width: 1024px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 1024px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 768px) {
  .section-height {
    height: 700px;
  }
}
@media only screen and (max-width: 320px) {
  .section-height {
    height: 568px;
  }
}
/*

Section break point set ups

*/
.section {
  display: block;
  padding: 0;
}
@media only screen and (min-width: 1440px) {
  .section {
    margin: 0 119px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section {
    margin: 0 60px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section {
    margin: 0 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section {
    margin: 0 20px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section {
    margin: 0 10px !important;
  }
}
.section-padding {
  display: block;
}
@media only screen and (min-width: 1440px) {
  .section-padding {
    padding: 0 119px;
  }
}
@media only screen and (max-width: 1440px) {
  .section-padding {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .section-padding {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .section-padding {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .section-padding {
    padding: 0 10px;
  }
}
.section-tablet {
  display: block;
  padding: 0;
}
@media only screen and (min-width: 1440px) {
  .section-tablet {
    margin: 0 119px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-tablet {
    margin: 0 60px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-tablet {
    margin: 0 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-tablet {
    margin: 0 0;
  }
}
@media only screen and (max-width: 320px) {
  .section-tablet {
    margin: 0 0;
  }
}
@media only screen and (min-width: 1440px) {
  .section-margin-bottom {
    margin-bottom: 70px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-margin-bottom {
    margin-bottom: 70px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-margin-bottom {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-margin-bottom {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section-margin-bottom {
    margin-bottom: 27px !important;
  }
}
@media only screen and (min-width: 1440px) {
  .section-margin-top {
    padding-top: 80px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .section-margin-top {
    padding-top: 70px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .section-margin-top {
    padding-top: 50px !important;
  }
}
@media only screen and (max-width: 768px) {
  .section-margin-top {
    padding-top: 50px !important;
  }
}
@media only screen and (max-width: 320px) {
  .section-margin-top {
    padding-top: 27px !important;
  }
}
/*

RESET

*/
.reset {
  padding: 0;
  margin: 0;
}
/*

Fix img-responsive issue

*/
.img-responsive {
  display: initial !important;
}
.highlights-list .vc_column-inner {
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
}
.highlights-list img {
  width: auto;
  height: 150px !important;
}
@media only screen and (max-width: 768px) {
  .highlights-list img {
    height: 102px !important;
  }
}
@media only screen and (max-width: 320px) {
  .highlights-list img {
    height: 72px !important;
  }
}
.highlights-list .title {
  text-align: center;
}
.highlights-list .title p {
  font-family: Gotham-Light, serif;
  color: #5b6770;
  font-size: 24px;
  line-height: 1.8;
  margin: 20px 0;
}
@media only screen and (max-width: 768px) {
  .highlights-list .title p {
    font-size: 16px;
    line-height: 2.6;
    margin: 14px 0;
  }
}
@media only screen and (max-width: 320px) {
  .highlights-list .title p {
    font-size: 16px;
    margin: 9px 0;
  }
}
.highlights-list .content {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Gotham-Light, serif;
  color: #000000;
  font-size: 18px;
  line-height: 1.3;
}
@media only screen and (max-width: 768px) {
  .highlights-list .content {
    font-size: 12.2px;
    line-height: 2.0;
  }
}
@media only screen and (max-width: 481px) {
  .highlights-list {
    display: none;
  }
}
.highlights-accordion .vc_tta-container {
  padding: 0;
  margin: 0;
  margin: 0px 55px !important;
}
.highlights-accordion .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading {
  border: none;
  background-color: transparent !important;
}
.highlights-accordion .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading h4 {
  text-align: center;
  border-top: solid 1px #979797;
  padding-top: 3px;
  padding-bottom: 3px;
}
.highlights-accordion .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading h4 a {
  padding: 0;
  margin: 0;
}
.highlights-accordion .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading h4 a:hover {
  background-color: transparent;
}
.highlights-accordion .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading h4 a i {
  display: none;
}
.highlights-accordion .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-heading h4 a span {
  font-family: Gotham-Medium, serif;
  font-size: 12px;
  line-height: 1.5;
  color: #5b6770;
  margin: 3px 0;
  display: block;
}
.highlights-accordion .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-body {
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 2px;
}
.highlights-accordion .vc_tta-container .vc_tta-panels-container .vc_tta-panels img {
  padding-bottom: 9px;
}
.highlights-accordion .vc_tta-container .vc_tta-panels-container .vc_tta-panels p {
  font-family: Gotham-Light, serif;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
  padding-bottom: 3px;
}
@media only screen and (min-width: 480px) {
  .highlights-accordion {
    display: none;
  }
}
.career-section-header {
  font-family: Gotham-Light, serif;
  color: #5b6770;
  outline: 0;
  text-align: center;
  font-size: 64px;
  margin: 0 346px 40px 346px;
}
@media only screen and (max-width: 1440px) {
  .career-section-header {
    margin: 0 140px 56px 140px;
  }
}
@media only screen and (max-width: 768px) {
  .career-section-header {
    font-size: 48px;
    margin: 0 104px 50px 104px;
  }
}
@media only screen and (max-width: 320px) {
  .career-section-header {
    font-size: 25px;
    margin: 0 14px 15px 14px;
  }
}
.career-tiles .careers-tiles-large .ult-content-box-container {
  width: 100%;
}
.career-tiles .careers-tiles-large .ult-content-box {
  height: 435px;
  padding: 30px;
}
@media only screen and (max-width: 320px) {
  .career-tiles .careers-tiles-large .ult-content-box {
    height: 275px;
    padding: 16px;
  }
}
.career-tiles .careers-tiles-small .ult-content-box {
  height: 217.5px;
  padding: 20px 20px 0 20px;
}
.career-tiles .bottom .ult-content-box {
  /* Internet Explorer 10 */
  display: -ms-flexbox;
  -ms-flex-align: end;
  /* Firefox */
  display: -moz-box;
  -moz-box-align: end;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-align: end;
  /* W3C */
  display: box;
  box-align: end;
}
.career-tiles .bottom .ult-content-box .careers-tile-title,
.career-tiles .bottom .ult-content-box .careers-tile-content {
  display: table-row;
}
@media only screen and (min-width: 1440px) {
  .career-tiles {
    margin-left: 195px;
    margin-right: 195px;
  }
  .career-tiles .ult-content-box,
  .career-tiles .wpb_content_element {
    margin: 10px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .career-tiles .ult-content-box,
  .career-tiles .wpb_content_element {
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .career-tiles > .vc_col-lg-12 {
    width: 50%;
  }
  .career-tiles .career-tiles-left-6 > .vc_col-sm-6,
  .career-tiles .career-tiles-right-6 > .vc_col-sm-6 {
    width: 100%;
  }
  .career-tiles .ult-content-box-container {
    display: inline-block;
    width: 50%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .career-tiles .vc_col-md-12 {
    width: 100% !important;
  }
}
.careers-tile-title p {
  font-family: Gotham-Light, serif;
  color: #ffffff;
  text-shadow: 0 2px 40px #000000;
  font-size: 28px;
  line-height: 1.2;
  padding-bottom: 10px;
}
@media only screen and (max-width: 320px) {
  .careers-tile-title p {
    font-size: 44.2px;
    line-height: 0.9;
  }
}
.careers-tile-content p {
  font-family: Gotham-Light, serif;
  color: #ffffff;
  text-shadow: 0 2px 40px #000000;
  font-size: 18px;
  line-height: 1.3;
}
@media only screen and (max-width: 320px) {
  .careers-tile-content p {
    font-size: 22.1px;
    line-height: 1.1;
  }
}
.job-openings .job_listings {
  border: none;
}
.job-openings #filters {
  display: none;
}
.job-openings #accordion {
  padding: 0;
  margin: 0;
}
.job-openings #accordion #icon {
  width: 70px;
}
.job-openings #accordion #icon .icon {
  border: solid 2px #3b3fb6;
  border-radius: 50%;
  padding: 10px;
}
.job-openings #accordion #icon .icon i {
  color: #3b3fb6;
}
.job-openings #accordion #listing .panel {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.job-openings #accordion #listing .panel .panel-heading {
  padding: 0;
  background-color: #fff;
  border: none;
  padding-top: 34px;
  margin-top: 36px;
  border-top: solid 1px #dbe2e9;
}
.job-openings #accordion #listing .panel .panel-heading .line {
  display: block;
}
.job-openings #accordion #listing .panel .panel-heading .line .title {
  font-family: Gotham-Medium, serif;
  font-size: 24px;
  color: #5b6770;
}
.job-openings #accordion #listing .panel .panel-heading .line .ref {
  font-family: Gotham-Medium, serif;
  font-size: 12px;
  color: #5b6770;
  padding-left: 12px;
}
.job-openings #accordion #listing .panel .panel-heading .location {
  display: block;
  font-family: Gotham-Light, serif;
  font-size: 18px;
  line-height: 1.3;
  color: #5b6770;
}
.job-openings #accordion #listing .panel .panel-collapse .panel-body {
  border: none;
  padding: 0;
  padding-top: 12px;
}
.job-openings #accordion #listing .panel .panel-collapse .panel-body .content {
  font-family: Gotham-Medium, serif;
  font-size: 18px;
  line-height: 1.0;
  color: #5b6770;
}
.job-openings #accordion #listing .panel .panel-collapse .panel-body .apply {
  display: block;
  margin-top: 20px;
}
.job-openings #accordion #listing .panel .panel-collapse .panel-body .apply button {
  border-radius: 20px;
  background-color: #fff;
  border: solid 1px #3a3eb5;
  font-family: Gotham-Light, serif;
  font-size: 28px;
  text-align: center;
  color: #5b5b5b;
  padding: 0 35px;
}
