/*

DO NOT CHANGE URL PATHINGS
Even though they're underlined red, they are correct

*/
@font-face {
  font-family: 'Gotham-Light';
  src: url('../../assets/fonts/Gotham-Light.ttf') format('truetype'), url('../../assets/fonts/Gotham-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../../assets/fonts/Gotham-Medium.ttf') format('truetype'), url('../../assets/fonts/Gotham-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../../assets/fonts/Gotham-Bold.ttf') format('truetype'), url('../../assets/fonts/Gotham-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../../assets/fonts/Gotham-Book.ttf') format('truetype'), url('../../assets/fonts/Gotham-Book.otf') format('opentype');
}
.font-family-light {
  font-family: 'Gotham-Light', serif;
}
.font-family-medium {
  font-family: 'Gotham-Medium', serif;
}
.font-family-book {
  font-family: 'Gotham-Book', serif;
}
.font-family-bold {
  font-family: 'Gotham-Bold', serif;
}
h1,
.h1 {
  font-family: 'Gotham-Light', serif;
  font-size: 80px;
  color: #c3d500;
}
h2,
.h2 {
  font-family: 'Gotham-Light', serif;
  font-size: 64px;
  color: #ffffff;
}
h3,
.h3 {
  font-family: 'Gotham-Medium', serif;
  font-size: 48px;
  color: #3b3fb6;
}
h4,
.h4 {
  font-family: 'Gotham-Medium', serif;
  font-size: 36px;
  color: #000000;
}
h5,
.h5 {
  font-family: 'Gotham-Medium', serif;
  font-size: 24px;
  color: #5b6770;
}
p,
.p {
  font-family: 'Gotham-Light', serif;
  font-size: 18px;
  color: #000000;
}
